In [1]:
!pip install session_info
!pip install pycaret

Collecting session_info
  Using cached session_info-1.0.0-py3-none-any.whl
Collecting stdlib-list
  Downloading stdlib_list-0.9.0-py3-none-any.whl (75 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 KB 3.5 MB/s eta 0:00:00
Installing collected packages: stdlib-list, session_info
Successfully installed session_info-1.0.0 stdlib-list-0.9.0
Collecting pycaret
  Using cached pycaret-3.0.2-py3-none-any.whl (483 kB)
Collecting category-encoders>=2.4.0
  Using cached category_encoders-2.6.1-py2.py3-none-any.whl (81 kB)
Requirement already satisfied: scipy<2.0.0 in /opt/conda/lib/python3.9/site-packages (from pycaret) (1.8.0)
Collecting joblib>=1.2.0
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Requirement already satisfied: cloudpickle in /opt/conda/lib/python3.9/site-packages (from pycaret) (2.0.0)
Requirement already satisfied: numpy<1.24,>=1.21 in /opt/conda/lib/python3.9/site-packages (from pycaret) (1.21.5)
Collecting lightgbm>=3.0.0
  Using cached lightgbm-3.3.5-py3-none-manylinux1_x86_64.whl (2.0 MB)
Collecting deprecation>=2.1.0
  Using cached deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Collecting schemdraw==0.15
  Using cached schemdraw-0.15-py3-none-any.whl (106 kB)
Requirement already satisfied: jinja2>=1.2 in /opt/conda/lib/python3.9/site-packages (from pycaret) (3.0.3)
Requirement already satisfied: scikit-learn>=1.0 in /opt/conda/lib/python3.9/site-packages (from pycaret) (1.0.2)
Requirement already satisfied: ipywidgets>=7.6.5 in /opt/conda/lib/python3.9/site-packages (from pycaret) (7.7.0)
Collecting imbalanced-learn>=0.8.1
  Using cached imbalanced_learn-0.10.1-py3-none-any.whl (226 kB)
Requirement already satisfied: matplotlib>=3.3.0 in /opt/conda/lib/python3.9/site-packages (from pycaret) (3.5.1)
Collecting importlib-metadata>=4.12.0
  Using cached importlib_metadata-6.7.0-py3-none-any.whl (22 kB)
Collecting scikit-plot>=0.3.7
  Using cached scikit_plot-0.3.7-py3-none-any.whl (33 kB)
Collecting plotly>=5.0.0
  Using cached plotly-5.15.0-py2.py3-none-any.whl (15.5 MB)
Requirement already satisfied: requests>=2.27.1 in /opt/conda/lib/python3.9/site-packages (from pycaret) (2.27.1)
Collecting yellowbrick>=1.4
  Using cached yellowbrick-1.5-py3-none-any.whl (282 kB)
Collecting sktime!=0.17.1,<0.17.2,>=0.16.1
  Using cached sktime-0.17.0-py3-none-any.whl (16.1 MB)
Collecting tbats>=1.1.3
  Using cached tbats-1.1.3-py3-none-any.whl (44 kB)
Requirement already satisfied: statsmodels>=0.12.1 in /opt/conda/lib/python3.9/site-packages (from pycaret) (0.13.2)
Requirement already satisfied: nbformat>=4.2.0 in /opt/conda/lib/python3.9/site-packages (from pycaret) (5.2.0)
Collecting pmdarima!=1.8.1,<3.0.0,>=1.8.0
  Using cached pmdarima-2.0.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl (1.9 MB)
Requirement already satisfied: psutil>=5.9.0 in /opt/conda/lib/python3.9/site-packages (from pycaret) (5.9.0)
Collecting plotly-resampler>=0.8.3.1
  Using cached plotly_resampler-0.8.3.2-cp39-cp39-manylinux_2_31_x86_64.whl
Requirement already satisfied: markupsafe>=2.0.1 in /opt/conda/lib/python3.9/site-packages (from pycaret) (2.1.1)
Collecting kaleido>=0.2.1
  Using cached kaleido-0.2.1-py2.py3-none-manylinux1_x86_64.whl (79.9 MB)
Collecting xxhash
  Using cached xxhash-3.2.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (212 kB)
Requirement already satisfied: ipython>=5.5.0 in /opt/conda/lib/python3.9/site-packages (from pycaret) (8.1.1)
Requirement already satisfied: tqdm>=4.62.0 in /opt/conda/lib/python3.9/site-packages (from pycaret) (4.62.3)
Collecting wurlitzer
  Using cached wurlitzer-3.0.3-py3-none-any.whl (7.3 kB)
Requirement already satisfied: pandas<2.0.0,>=1.3.0 in /opt/conda/lib/python3.9/site-packages (from pycaret) (1.4.1)
Collecting pyod>=1.0.8
  Using cached pyod-1.0.9-py3-none-any.whl
Requirement already satisfied: numba>=0.55.0 in /opt/conda/lib/python3.9/site-packages (from pycaret) (0.55.1)
Requirement already satisfied: patsy>=0.5.1 in /opt/conda/lib/python3.9/site-packages (from category-encoders>=2.4.0->pycaret) (0.5.2)
Requirement already satisfied: packaging in /opt/conda/lib/python3.9/site-packages (from deprecation>=2.1.0->pycaret) (21.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from imbalanced-learn>=0.8.1->pycaret) (3.1.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.9/site-packages (from importlib-metadata>=4.12.0->pycaret) (3.7.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (3.0.27)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (0.18.1)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (5.1.1)
Requirement already satisfied: backcall in /opt/conda/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (0.2.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (0.7.5)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (2.11.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (0.1.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (60.9.3)
Requirement already satisfied: ipykernel>=4.5.1 in /opt/conda/lib/python3.9/site-packages (from ipywidgets>=7.6.5->pycaret) (6.9.2)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /opt/conda/lib/python3.9/site-packages (from ipywidgets>=7.6.5->pycaret) (3.6.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in /opt/conda/lib/python3.9/site-packages (from ipywidgets>=7.6.5->pycaret) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /opt/conda/lib/python3.9/site-packages (from ipywidgets>=7.6.5->pycaret) (1.1.0)
Requirement already satisfied: wheel in /opt/conda/lib/python3.9/site-packages (from lightgbm>=3.0.0->pycaret) (0.37.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.0->pycaret) (1.4.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.0->pycaret) (4.31.2)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.0->pycaret) (9.0.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.0->pycaret) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.0->pycaret) (3.0.7)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.0->pycaret) (2.8.2)
Requirement already satisfied: jupyter-core in /opt/conda/lib/python3.9/site-packages (from nbformat>=4.2.0->pycaret) (4.9.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/conda/lib/python3.9/site-packages (from nbformat>=4.2.0->pycaret) (4.4.0)
Requirement already satisfied: llvmlite<0.39,>=0.38.0rc1 in /opt/conda/lib/python3.9/site-packages (from numba>=0.55.0->pycaret) (0.38.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas<2.0.0,>=1.3.0->pycaret) (2021.3)
Collecting tenacity>=6.2.0
  Using cached tenacity-8.2.2-py3-none-any.whl (24 kB)
Collecting trace-updater>=0.0.8
  Using cached trace_updater-0.0.9.1-py3-none-any.whl (185 kB)
Collecting jupyter-dash>=0.4.2
  Using cached jupyter_dash-0.4.2-py3-none-any.whl (23 kB)
Collecting orjson<4.0.0,>=3.8.0
  Using cached orjson-3.9.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (136 kB)
Collecting dash<3.0.0,>=2.2.0
  Using cached dash-2.10.2-py3-none-any.whl (10.3 MB)
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.9/site-packages (from pmdarima!=1.8.1,<3.0.0,>=1.8.0->pycaret) (1.26.8)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /opt/conda/lib/python3.9/site-packages (from pmdarima!=1.8.1,<3.0.0,>=1.8.0->pycaret) (0.29.28)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from pyod>=1.0.8->pycaret) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests>=2.27.1->pycaret) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests>=2.27.1->pycaret) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.27.1->pycaret) (2021.10.8)
Collecting deprecated>=1.2.13
  Using cached Deprecated-1.2.14-py2.py3-none-any.whl (9.6 kB)
Collecting Flask<2.3.0,>=1.0.4
  Using cached Flask-2.2.5-py3-none-any.whl (101 kB)
Collecting dash-html-components==2.0.0
  Using cached dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Collecting dash-core-components==2.0.0
  Using cached dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Requirement already satisfied: Werkzeug<2.3.0 in /opt/conda/lib/python3.9/site-packages (from dash<3.0.0,>=2.2.0->plotly-resampler>=0.8.3.1->pycaret) (2.1.0)
Collecting dash-table==5.0.0
  Using cached dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: wrapt<2,>=1.10 in /opt/conda/lib/python3.9/site-packages (from deprecated>=1.2.13->sktime!=0.17.1,<0.17.2,>=0.16.1->pycaret) (1.14.0)
Requirement already satisfied: tornado<7.0,>=4.2 in /opt/conda/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (6.1)
Requirement already satisfied: nest-asyncio in /opt/conda/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (1.5.4)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in /opt/conda/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (1.5.1)
Requirement already satisfied: jupyter-client<8.0 in /opt/conda/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (7.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.9/site-packages (from jedi>=0.16->ipython>=5.5.0->pycaret) (0.8.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /opt/conda/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->pycaret) (0.18.1)
Requirement already satisfied: attrs>=17.4.0 in /opt/conda/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->pycaret) (21.4.0)
Collecting ansi2html
  Using cached ansi2html-1.8.0-py3-none-any.whl (16 kB)
Collecting retrying
  Using cached retrying-1.3.4-py3-none-any.whl (11 kB)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.9/site-packages (from pexpect>4.3->ipython>=5.5.0->pycaret) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.5.0->pycaret) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /opt/conda/lib/python3.9/site-packages (from widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (6.4.10)
Requirement already satisfied: executing in /opt/conda/lib/python3.9/site-packages (from stack-data->ipython>=5.5.0->pycaret) (0.8.3)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.9/site-packages (from stack-data->ipython>=5.5.0->pycaret) (0.2.2)
Requirement already satisfied: asttokens in /opt/conda/lib/python3.9/site-packages (from stack-data->ipython>=5.5.0->pycaret) (2.0.5)
Requirement already satisfied: click>=8.0 in /opt/conda/lib/python3.9/site-packages (from Flask<2.3.0,>=1.0.4->dash<3.0.0,>=2.2.0->plotly-resampler>=0.8.3.1->pycaret) (8.0.4)
Collecting itsdangerous>=2.0
  Using cached itsdangerous-2.1.2-py3-none-any.whl (15 kB)
Collecting Werkzeug<2.3.0
  Using cached Werkzeug-2.2.3-py3-none-any.whl (233 kB)
Requirement already satisfied: pyzmq>=13 in /opt/conda/lib/python3.9/site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (22.3.0)
Requirement already satisfied: entrypoints in /opt/conda/lib/python3.9/site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (0.4)
Requirement already satisfied: nbconvert>=5 in /opt/conda/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (6.4.4)
Requirement already satisfied: prometheus-client in /opt/conda/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.13.1)
Requirement already satisfied: terminado>=0.8.3 in /opt/conda/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.13.3)
Requirement already satisfied: Send2Trash>=1.8.0 in /opt/conda/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.8.0)
Requirement already satisfied: argon2-cffi in /opt/conda/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (21.3.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/conda/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.8.4)
Requirement already satisfied: testpath in /opt/conda/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.6.0)
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (4.10.0)
Requirement already satisfied: bleach in /opt/conda/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (4.1.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /opt/conda/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.5.13)
Requirement already satisfied: jupyterlab-pygments in /opt/conda/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.1.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/conda/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.5.0)
Requirement already satisfied: defusedxml in /opt/conda/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.7.1)
Requirement already satisfied: argon2-cffi-bindings in /opt/conda/lib/python3.9/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.15.0)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.9/site-packages (from beautifulsoup4->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (2.3.1)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.9/site-packages (from bleach->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.5.1)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.9/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (2.21)
Installing collected packages: trace-updater, kaleido, dash-table, dash-html-components, dash-core-components, xxhash, wurlitzer, Werkzeug, tenacity, schemdraw, retrying, orjson, joblib, itsdangerous, importlib-metadata, deprecated, ansi2html, plotly, Flask, deprecation, yellowbrick, sktime, scikit-plot, pyod, lightgbm, imbalanced-learn, dash, pmdarima, category-encoders, tbats, jupyter-dash, plotly-resampler, pycaret
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 2.1.0
    Uninstalling Werkzeug-2.1.0:
      Successfully uninstalled Werkzeug-2.1.0
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib-metadata 4.11.3
    Uninstalling importlib-metadata-4.11.3:
      Successfully uninstalled importlib-metadata-4.11.3
Successfully installed Flask-2.2.5 Werkzeug-2.2.3 ansi2html-1.8.0 category-encoders-2.6.1 dash-2.10.2 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 deprecated-1.2.14 deprecation-2.1.0 imbalanced-learn-0.10.1 importlib-metadata-6.7.0 itsdangerous-2.1.2 joblib-1.2.0 jupyter-dash-0.4.2 kaleido-0.2.1 lightgbm-3.3.5 orjson-3.9.1 plotly-5.15.0 plotly-resampler-0.8.3.2 pmdarima-2.0.3 pycaret-3.0.2 pyod-1.0.9 retrying-1.3.4 schemdraw-0.15 scikit-plot-0.3.7 sktime-0.17.0 tbats-1.1.3 tenacity-8.2.2 trace-updater-0.0.9.1 wurlitzer-3.0.3 xxhash-3.2.0 yellowbrick-1.5

#### Import librairies

In [2]:
import pandas as pd
import os
import re

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.metrics import accuracy_score, recall_score, f1_score, confusion_matrix
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, Dataset , random_split
from torch.optim.lr_scheduler import ReduceLROnPlateau

import random

from pycaret.classification import *
from sklearn.metrics import accuracy_score, recall_score, f1_score, confusion_matrix

import session_info

device= torch.device('cuda' if torch.cuda.is_available() else 'cpu')
session_info.show()

#### Set the random seed for reproducibility

In [3]:
seed = 64
random.seed(seed)
np.random.seed(seed)
torch.manual_seed(seed)
torch.cuda.manual_seed(seed)
torch.backends.cudnn.deterministic = True
torch.backends.cudnn.benchmark = False

#### Get the data

In [4]:
raw_data= pd.read_csv('data/train.csv', low_memory=False)
data_test= pd.read_csv('data/test.csv', low_memory=False)

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2989 entries, 0 to 2988
Columns: 365 entries, Patient_ID to Type_of_Venom_Allergy_IGE_Venom
dtypes: float64(322), int64(32), object(11)
memory usage: 8.3+ MB

#### Looking which are the targets to predict

In [6]:
missing_cols = set(raw_data.columns) ^ set(data_test.columns)
print(missing_cols)
len(missing_cols)

{'Type_of_Respiratory_Allergy_GINA', 'Type_of_Respiratory_Allergy_IGE_Pollen_Gram', 'Type_of_Food_Allergy_Other', 'Type_of_Food_Allergy_TPO', 'Type_of_Food_Allergy_Egg', 'Venom_Allergy', 'Type_of_Respiratory_Allergy_IGE_Pollen_Tree', 'Food_Allergy', 'trustii_id', 'Type_of_Venom_Allergy_IGE_Venom', 'Type_of_Food_Allergy_Shellfish', 'Type_of_Food_Allergy_Aromatics', 'Type_of_Food_Allergy_Tree_Nuts', 'Type_of_Food_Allergy_Mammalian_Milk', 'Type_of_Respiratory_Allergy_IGE_Dander_Animals', 'Severe_Allergy', 'Type_of_Food_Allergy_Fruits_and_Vegetables', 'Type_of_Respiratory_Allergy_IGE_Pollen_Herb', 'Type_of_Food_Allergy_Fish', 'Type_of_Respiratory_Allergy_ARIA', 'Type_of_Food_Allergy_Peanut', 'Type_of_Food_Allergy_Oral_Syndrom', 'Allergy_Present', 'Type_of_Venom_Allergy_ATCD_Venom', 'Type_of_Respiratory_Allergy_IGE_Molds_Yeast', 'Type_of_Food_Allergy_Cereals_&_Seeds', 'Type_of_Respiratory_Allergy_CONJ', 'Type_of_Food_Allergy_Other_Legumes', 'Respiratory_Allergy', 'Type_of_Respiratory_Allergy_IGE_Mite_Cockroach'}

30

## Data Pre-processing

### Preprocessing for the train set

In [7]:
liste_of_Targets =['Allergy_Present', 'Severe_Allergy', 'Respiratory_Allergy', 'Food_Allergy', 'Venom_Allergy',
                     'Type_of_Respiratory_Allergy_ARIA', 'Type_of_Respiratory_Allergy_CONJ', 
                     'Type_of_Respiratory_Allergy_GINA', 'Type_of_Respiratory_Allergy_IGE_Pollen_Gram',
                     'Type_of_Respiratory_Allergy_IGE_Pollen_Herb', 'Type_of_Respiratory_Allergy_IGE_Pollen_Tree',
                     'Type_of_Respiratory_Allergy_IGE_Dander_Animals', 'Type_of_Respiratory_Allergy_IGE_Mite_Cockroach',
                     'Type_of_Respiratory_Allergy_IGE_Molds_Yeast', 'Type_of_Food_Allergy_Aromatics', 'Type_of_Food_Allergy_Other',
                     'Type_of_Food_Allergy_Cereals_&_Seeds', 'Type_of_Food_Allergy_Egg', 'Type_of_Food_Allergy_Fish',
                     'Type_of_Food_Allergy_Fruits_and_Vegetables', 'Type_of_Food_Allergy_Mammalian_Milk', 
                     'Type_of_Food_Allergy_Oral_Syndrom', 'Type_of_Food_Allergy_Other_Legumes', 'Type_of_Food_Allergy_Peanut',
                     'Type_of_Food_Allergy_Shellfish', 'Type_of_Food_Allergy_TPO', 'Type_of_Food_Allergy_Tree_Nuts',
                     'Type_of_Venom_Allergy_ATCD_Venom', 'Type_of_Venom_Allergy_IGE_Venom']
def preprocessing_data(df):
    df = df.drop('Food_Type_0', axis =1)
    df.replace(-1, 0, inplace=True)
    data_noNAN = df.fillna(-1)
    # obtain Targets
    Targets = data_noNAN.loc[:,liste_of_Targets]
    # filter feautures
    X1=data_noNAN.loc[:, ['Chip_Type','Age','Gender','French_Residence_Department','Blood_Month_sample']]
    X= data_noNAN.iloc[:, 8:-29]
    data = pd.concat( [X1, X] , axis=1)
    # handle the 'Treatment_of_rhinitis' feature
    data['Treatment_of_rhinitis'] = data['Treatment_of_rhinitis'].astype(str)
    data['Treatment_of_rhinitis'] = data['Treatment_of_rhinitis'].str.replace('.0', '', regex=True)
    
    ##  Get_dummies of the 'object' type columns
    
    columns_to_encode = ['Chip_Type', 'French_Residence_Department', 'French_Region',
         'Treatment_of_athsma', 'Age_of_onsets',
       'General_cofactors', 'Treatment_of_atopic_dematitis','Treatment_of_rhinitis']
    
    ### Split the columns using multiple delimiters and create dummy columns
    dummy_dfs = []
    for col in columns_to_encode:
        # Split the data in the column that use  delimiters
        data[col] = data[col].astype(str)
        data[col] = data[col].apply(lambda x: [i.strip() for i in re.split('[,.]', x)])

        # Create dummy columns
        dummy_df = pd.get_dummies(data[col].apply(pd.Series).stack(), prefix=f"{col}", prefix_sep='_').groupby(level=0).sum()
        dummy_dfs.append(dummy_df)

    ### Concatenate the original DataFrame with the dummy columns
    df_final = pd.concat([data] + dummy_dfs, axis=1)

    ### Drop the original columns from the final dataset
    df_final.drop(columns=columns_to_encode, inplace=True)
    
    # Converting all values into 'float16' type
    encode_data = df_final.astype('float16')
    print(encode_data.info())
    
    return encode_data,Targets

In [8]:
encode_data,Targets = preprocessing_data(raw_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2989 entries, 0 to 2988
Columns: 467 entries, Age to Treatment_of_rhinitis_9
dtypes: float16(467)
memory usage: 2.7 MB
None

### Preprocessing for the test set

In [9]:
def preprocessing_data_test(df):
    df = df.drop('Food_Type_0', axis =1)
    df.replace(-1, 0, inplace=True)
    data_test_noNAN = df.fillna(-1)
    # filter feautures
    X1=data_test_noNAN.loc[:, ['Chip_Type']]
    X= data_test_noNAN.iloc[:, 5:]
    data = pd.concat( [X1, X] , axis=1)
    # handle the 'Treatment_of_rhinitis' feature
    data['Treatment_of_rhinitis'] = data['Treatment_of_rhinitis'].astype(str)
    data['Treatment_of_rhinitis'] = data['Treatment_of_rhinitis'].str.replace('.0', '', regex=True)
    # handle 'Age_of_onsets' which don't have the same format in data test and train
    data['Age_of_onsets'] = data['Age_of_onsets'].astype(str)

    
    ##  Get_dummies of the 'object' type columns
    
    columns_to_encode = ['Chip_Type', 'French_Residence_Department', 'French_Region',
         'Treatment_of_athsma', 'Age_of_onsets',
       'General_cofactors', 'Treatment_of_atopic_dematitis','Treatment_of_rhinitis']
    
    ### Split the columns using multiple delimiters and create dummy columns
    dummy_dfs = []
    for col in columns_to_encode:
        # Split the data in the column that use  delimiters
        data[col] = data[col].astype(str)
        data[col] = data[col].apply(lambda x: [i.strip() for i in re.split('[,.]', x)])

        # Create dummy columns
        dummy_df = pd.get_dummies(data[col].apply(pd.Series).stack(), prefix=f"{col}", prefix_sep='_').groupby(level=0).sum()
        dummy_dfs.append(dummy_df)

    ### Concatenate the original DataFrame with the dummy columns
    df_final = pd.concat([data] + dummy_dfs, axis=1)

    ### Drop the original columns from the final dataset
    df_final.drop(columns=columns_to_encode, inplace=True)
    
    # Converting all values into 'float16' type
    encode_data = df_final.astype('float16')
    print(encode_data.info())
    
    return encode_data

In [10]:
encode_data_test = preprocessing_data_test(data_test)
missing_cols = set(encode_data.columns) ^ set(encode_data_test.columns)
print(missing_cols)
len(missing_cols)
encode_data_test = encode_data_test.reindex(columns=encode_data.columns, fill_value=0).astype('float16')
encode_data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Columns: 444 entries, Age to Treatment_of_rhinitis_9
dtypes: float16(444)
memory usage: 508.3 KB
None
{'Treatment_of_athsma_8', 'Treatment_of_atopic_dematitis_7', 'French_Residence_Department_deptJJJ', 'French_Residence_Department_deptOOO', 'French_Residence_Department_deptIII', 'French_Residence_Department_deptTTT', 'French_Residence_Department_deptRRR', 'French_Residence_Department_deptU', 'French_Residence_Department_deptCCCC', 'French_Region_regionO', 'French_Residence_Department_deptHHH', 'French_Residence_Department_deptNNN', 'French_Residence_Department_deptDD', 'French_Residence_Department_deptQQQ', 'French_Residence_Department_deptPPP', 'French_Residence_Department_deptK', 'French_Residence_Department_deptUU', 'French_Residence_Department_deptW', 'General_cofactors_11', 'French_Residence_Department_deptMMM', 'French_Residence_Department_deptDDD', 'French_Residence_Department_deptAAAA', 'French_Region_regionN', 'Treatment_of_athsma_10', 'French_Residence_Department_deptZZZ', 'French_Residence_Department_deptT', 'French_Residence_Department_deptP'}
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Columns: 467 entries, Age to Treatment_of_rhinitis_9
dtypes: float16(467)
memory usage: 534.6 KB

#### Pycaret part

In [11]:
import os

def obtain_all_methods_imbl (encode_data, Y, list_of_metods):
    
    liste_column_monovalue=['Type_of_Food_Allergy_Other','Type_of_Food_Allergy_Cereals_&_Seeds']
    for method in list_of_metods:
        print(method)
        
        folder_path = f'Test_Imbl_{method}_tuned'
        if not os.path.exists(folder_path):
            os.makedirs(folder_path)
        
        for column in Y.columns:
            if column not in liste_column_monovalue :
                rows_with_9 = Y[column].isin([9])
                Targets_without_9 = Y[column][~rows_with_9].reset_index(drop=True)
                X = encode_data[~rows_with_9].reset_index(drop=True)

                dataset= pd.concat([X,Targets_without_9], axis = 1)
                model = setup(data= dataset, target= column, train_size=0.85, fix_imbalance=True, fix_imbalance_method=method)
                best = compare_models(sort = 'F1', include = ['rf', 'et', 'lightgbm','ada'])
                tuned_best= tune_model(best,n_iter= 50, optimize = 'F1',fold = 10)
                file_name = f"{column}_ETC_brutforce_imb_binary"
                file_path = os.path.join(folder_path, file_name)
                save_model(tuned_best, file_path)
            else:
                continue

In [ ]:
List_methods_imbl=['RandomOverSampler','SMOTE','BorderlineSMOTE']  
obtain_all_methods_imbl (encode_data, Targets, List_methods_imbl)

RandomOverSampler

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved
SMOTE

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved
BorderlineSMOTE

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits
Transformation Pipeline and Model Successfully Saved

Processing:   0%|          | 0/21 [00:00<?, ?it/s]

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,08:54:23
Status,. . . . . . . . . . . . . . . . . .,Searching Hyperparameters
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits

### Generate predictions from classifiers and include them into the dataset + evaluation

In [55]:
data= pd.read_csv('data/train.csv', low_memory=False)
data_test= pd.read_csv('data/test.csv', low_memory=False)

### Define which target will be predict at the end with which model

In [56]:
list_of_Target_predict_with_pytorch_meta = ['Type_of_Food_Allergy_Other_Legumes', 'Type_of_Food_Allergy_Mammalian_Milk', 
                  'Venom_Allergy', 'Type_of_Food_Allergy_Tree_Nuts', 'Type_of_Food_Allergy_Aromatics', 
                  'Type_of_Venom_Allergy_IGE_Venom', 'Type_of_Venom_Allergy_ATCD_Venom',
                  'Type_of_Respiratory_Allergy_CONJ', 'Type_of_Food_Allergy_Peanut', 
                  'Type_of_Food_Allergy_Egg', 'Type_of_Food_Allergy_TPO', 
                  'Type_of_Food_Allergy_Fruits_and_Vegetables', 'Type_of_Food_Allergy_Shellfish']

In [89]:
class CustomDataset(Dataset):
    def __init__(self, data, transform=None):
        self.data = data
        self.transform = transform
        self.features = self.data.iloc[:, :-1].values
        self.labels = self.data.iloc[:, -1].values

        if self.transform is not None:
            self.features, self.labels = self.transform.fit_resample(self.features, self.labels)

    def __len__(self):
        return len(self.features)

    def __getitem__(self, idx):
        features = torch.tensor(self.features[idx], dtype=torch.float32)
        label = torch.tensor(int(self.labels[idx]), dtype=torch.long)

        return features, label
    
    @property
    def num_features(self):
        return self.features.shape[1]
    
    @property
    def num_classes(self):
        return len(set(self.labels))

    
class Allergy_Net(nn.Module):
    
    def __init__(self,input_size,hidden_size, num_class,dropout_rate):

        super(Allergy_Net,self).__init__()
        #self.subsampler = RandomFeatureSubsampler(p=0.2)
        self.linear1= nn.Linear(input_size,hidden_size)
        self.linear2= nn.Linear(hidden_size,int(hidden_size/8))
        self.linear3= nn.Linear(int(hidden_size/8),int(hidden_size/32))
        self.linear4= nn.Linear(int(hidden_size/32),num_class)

        self.dropout1 = nn.Dropout(dropout_rate)
        self.batchnorm1 = nn.BatchNorm1d(int(hidden_size/32))

    def forward(self,inputs):
        #inputs = self.subsampler(inputs)
        x = torch.relu(self.linear1(inputs))
        x= self.dropout1(x)
        x = torch.relu(self.linear2(x))
        x= self.dropout1(x)
        x = torch.relu(self.linear3(x))
        x= self.dropout1(x)
        x= self.batchnorm1(x)
        outputs= self.linear4(x)

        # no softmax because Cross entropy Loss
        return outputs

### Obtain pred with pycaret Smote only

In [58]:
def obtain_pred(data, folder_path):
    liste=[]
    for subdir, dirs, files in os.walk(folder_path):
        for file in files:
            print("Calling model:", file) 
            model = load_model(os.path.join(subdir, os.path.splitext(file)[0]))
            values=predict_model(model, data= data.reset_index())
            file_name = os.path.splitext(file)[0]
            values_name = '{}_{}'.format(file_name, 'values')
            globals()[values_name] = values
            globals()[values_name] = globals()[values_name].rename(columns={'prediction_label': 'pred_label ' + str(values_name), 'prediction_score': 'pred_score ' + str(values_name) })
            liste.append(globals()[values_name])
        return liste

In [74]:
folder_path_pycaret = 'Test_Imbl_SMOTE_tuned'
pred_pycaret= obtain_pred(encode_data.reset_index(drop=True), folder_path_pycaret)

Calling model: Type_of_Food_Allergy_Aromatics_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_CONJ_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Peanut_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_IGE_Pollen_Tree_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Venom_Allergy_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Food_Allergy_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Fruits_and_Vegetables_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Shellfish_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_IGE_Dander_Animals_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_ARIA_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_IGE_Molds_Yeast_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Egg_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Venom_Allergy_IGE_Venom_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_IGE_Pollen_Gram_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Allergy_Present_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Other_Legumes_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Mammalian_Milk_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Severe_Allergy_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Respiratory_Allergy_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Oral_Syndrom_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_TPO_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_GINA_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Tree_Nuts_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Fish_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Venom_Allergy_ATCD_Venom_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_IGE_Mite_Cockroach_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_IGE_Pollen_Herb_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded

In [73]:
liste_column_monovalue=['Type_of_Food_Allergy_Other','Type_of_Food_Allergy_Cereals_&_Seeds']

merged_df = pd.DataFrame()
for i,df in enumerate(pred_pycaret):
    if i==0:
        merged_df = df
    else:
        last_two_columns = df.iloc[:, -2:]
        merged_df = pd.concat([merged_df, last_two_columns], axis=1)
        
added_list = ['pred_label ' + s + '_ETC_brutforce_imb_binary_values' for s in liste_column_monovalue]
zeros_data = pd.DataFrame(0, index=np.arange(len(merged_df)), columns= added_list)
merged_df = pd.concat([merged_df, zeros_data], axis=1)
merged_df.info()
merged_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2989 entries, 0 to 2988
Columns: 524 entries, index to pred_label Type_of_Food_Allergy_Cereals_&_Seeds_ETC_brutforce_imb_binary_values
dtypes: float32(467), float64(27), int32(1), int64(29)
memory usage: 6.6 MB

,index,Age,Gender,Blood_Month_sample,Rural_or_urban_area,Sensitization,Skin_Symptoms,Act_d_1,Act_d_2,Act_d_5,...,pred_label Type_of_Food_Allergy_Fish_ETC_brutforce_imb_binary_values,pred_score Type_of_Food_Allergy_Fish_ETC_brutforce_imb_binary_values,pred_label Type_of_Venom_Allergy_ATCD_Venom_ETC_brutforce_imb_binary_values,pred_score Type_of_Venom_Allergy_ATCD_Venom_ETC_brutforce_imb_binary_values,pred_label Type_of_Respiratory_Allergy_IGE_Mite_Cockroach_ETC_brutforce_imb_binary_values,pred_score Type_of_Respiratory_Allergy_IGE_Mite_Cockroach_ETC_brutforce_imb_binary_values,pred_label Type_of_Respiratory_Allergy_IGE_Pollen_Herb_ETC_brutforce_imb_binary_values,pred_score Type_of_Respiratory_Allergy_IGE_Pollen_Herb_ETC_brutforce_imb_binary_values,pred_label Type_of_Food_Allergy_Other_ETC_brutforce_imb_binary_values,pred_label Type_of_Food_Allergy_Cereals_&_Seeds_ETC_brutforce_imb_binary_values
0,0,15.0,0.0,7.0,1.0,1.0,0.0,0.0,0.000000,0.0,...,0,0.6424,0,0.5383,0,0.9994,0,0.9961,0,0
1,1,72.0,1.0,5.0,9.0,1.0,9.0,0.0,0.000000,0.0,...,0,0.6098,0,0.5492,0,0.9995,0,0.9961,0,0
2,2,67.0,1.0,6.0,9.0,0.0,9.0,0.0,0.000000,0.0,...,0,0.6098,0,0.5624,0,0.9998,0,0.9975,0,0
3,3,13.0,1.0,9.0,1.0,1.0,9.0,0.0,2.150391,0.0,...,0,0.7264,0,0.7138,1,0.9970,1,0.9558,0,0
4,4,28.0,1.0,12.0,9.0,1.0,1.0,0.0,74.000000,0.0,...,0,0.6646,0,0.6503,1,0.9993,1,0.5495,0,0

### Obtain pred by pytorch_fold_meta

In [62]:
folder_path_fold = 'liste_classif_optim_2_no_oversampled'
folder_path_meta='liste_meta_4'
liste_column_monovalue=['Type_of_Food_Allergy_Other','Type_of_Food_Allergy_Cereals_&_Seeds']

def get_predictions_fold_imblearn_meta_classifier(df,list_of_targets, folder_path_fold,folder_path_meta):
    
    liste=[]
    for column in list_of_targets.columns:
        print(column)
        dataset_panda= pd.concat([df,list_of_targets[column]], axis = 1).reset_index(drop=True)
        dataset_all=CustomDataset(dataset_panda)
        train_all = DataLoader(dataset_all, batch_size=64, shuffle=False)

       
        if column not in liste_column_monovalue:
            input_size= 467 
            hidden_size= 1024
            num_class = 2 
            dropout_rate=0.3
            
            model_list = []
            target_string = f"{column}_fold"

            # Iterate over the files in the folder
            for filename in os.listdir(folder_path_fold):
                # Check if the file path contains the target string
                if target_string in filename:
                    # Load the model using the appropriate method
                    model = Allergy_Net(input_size,hidden_size,num_class,dropout_rate)
                    model_path = os.path.join(folder_path_fold, filename)
                    model.load_state_dict(torch.load(model_path))
                    model_list.append(model)

            # obtain prediction for each folds
            predictions_all = []
            for model in model_list:
                model.eval()
                pred_model=[]
                with torch.no_grad():
                    for data, labels in train_all:
                        outputs = model(data)
                        pred_model.extend(outputs)
                predictions_all.append(pred_model)

            # Combine predictions from different folds
            combined_pred = []
            for i in range(len(predictions_all[0])):
                combined_pred_mini = []
                for j in range(len(predictions_all)):
                    combined_pred_mini.extend(predictions_all[j][i])
                combined_pred.append(combined_pred_mini)
                
            # Extract values from tensors and convert to a list of lists
            combined_pred_values = [[value.item() for value in sample] for sample in combined_pred]
            num_folds = len(predictions_all)*2
            # Create a dictionary to store the fold predictions
            fold_predictions = {}
            for i in range(num_folds):
                fold_predictions[f"Value_{i+1}"] = [sample[i].item() for sample in combined_pred]

            # Convert the dictionary into a DataFrame
            df_combined_pred = pd.DataFrame(fold_predictions)


            target_string_for_meta_imbl = f"{column}_meta_model_pycaret_binary"
            for filename in os.listdir(folder_path_meta):
                # Check if the file path contains the target string
                if target_string_for_meta_imbl in filename:
                    model = load_model(os.path.join(folder_path_meta, os.path.splitext(filename)[0]))
                    values=predict_model(model, data= df_combined_pred.reset_index())
                    file_name = os.path.splitext(filename)[0]
                    values_name = '{}_{}'.format(file_name, 'values')
                    globals()[values_name] = values
                    globals()[values_name] = globals()[values_name].rename(columns={'prediction_label': 'pred_label ' + str(values_name), 'prediction_score': 'pred_score ' + str(values_name) })
                    liste.append(globals()[values_name])
                    print('done')
    return liste

In [63]:
pred_pytorch_meta=get_predictions_fold_imblearn_meta_classifier(encode_data,Targets, folder_path_fold,folder_path_meta)

Allergy_Present
Transformation Pipeline and Model Successfully Loaded
done
Severe_Allergy
Transformation Pipeline and Model Successfully Loaded
done
Respiratory_Allergy
Transformation Pipeline and Model Successfully Loaded
done
Food_Allergy
Transformation Pipeline and Model Successfully Loaded
done
Venom_Allergy
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_ARIA
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_CONJ
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_GINA
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_IGE_Pollen_Gram
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_IGE_Pollen_Herb
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_IGE_Pollen_Tree
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_IGE_Dander_Animals
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_IGE_Mite_Cockroach
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_IGE_Molds_Yeast
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Aromatics
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Other
Type_of_Food_Allergy_Cereals_&_Seeds
Type_of_Food_Allergy_Egg
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Fish
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Fruits_and_Vegetables
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Mammalian_Milk
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Oral_Syndrom
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Other_Legumes
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Peanut
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Shellfish
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_TPO
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Tree_Nuts
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Venom_Allergy_ATCD_Venom
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Venom_Allergy_IGE_Venom
Transformation Pipeline and Model Successfully Loaded
done

In [64]:
print(len(pred_pytorch_meta))
pred_pytorch_meta[0]

27

,index,Value_1,Value_2,Value_3,Value_4,Value_5,Value_6,Value_7,Value_8,Value_9,Value_10,Value_11,Value_12,Value_13,Value_14,Value_15,Value_16,pred_label Allergy_Present_meta_model_pycaret_binary_values,pred_score Allergy_Present_meta_model_pycaret_binary_values
0,0,-0.748127,0.729992,-0.584334,0.499938,-0.773140,0.906865,-0.365902,0.172279,-0.376860,0.111737,-0.633374,0.795414,-0.585548,0.792772,-0.906501,0.757275,1,1.00
1,1,0.746651,-0.758935,0.341197,-0.434825,0.950985,-0.915116,0.418233,-0.683620,0.324738,-0.618463,0.632095,-0.547063,0.668416,-0.474834,0.404382,-0.541455,0,0.83
2,2,0.733035,-0.744944,0.363207,-0.454483,0.988670,-0.956325,0.420199,-0.676870,0.331931,-0.624628,0.657758,-0.573595,0.695211,-0.501030,0.441308,-0.576205,1,1.00
3,3,-0.814914,0.790831,-1.250587,1.151908,-1.247099,1.370371,-1.376382,1.003550,-0.441291,0.180355,-1.376143,1.567106,-1.131734,1.325826,-1.204989,1.048573,1,1.00
4,4,2.561285,-2.592341,1.212610,-1.193888,2.119431,-2.285433,-1.933193,1.469598,0.540509,-0.800075,1.962318,-2.170416,2.523063,-2.252595,3.708384,-3.600559,0,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984,2984,-0.786242,0.773249,-0.847874,0.780075,-0.214157,0.318150,-0.090434,-0.136489,-0.115012,-0.155921,-0.068002,0.183874,-0.054706,0.246645,-0.621908,0.472636,1,0.74
2985,2985,0.634945,-0.641316,0.682803,-0.726152,1.071488,-1.048074,0.201980,-0.465010,0.309130,-0.606897,1.063268,-1.031496,0.911311,-0.705643,0.790858,-0.903036,0,0.88
2986,2986,-1.022694,1.008510,-1.007091,0.946322,-0.863912,1.000217,-0.347636,0.157731,-0.616937,0.385259,-0.822320,1.007491,-0.686823,0.898095,-0.907244,0.757713,1,1.00
2987,2987,-1.474948,1.441920,-0.980786,0.898808,-1.064659,1.189412,-0.841738,0.569061,-0.989572,0.851761,-1.010729,1.221723,-0.905806,1.116985,-1.044051,0.890789,1,1.00
2988,2988,-0.901569,0.888087,-0.958527,0.892485,-0.548662,0.666381,-0.386171,0.191485,-0.633386,0.412932,-0.784921,0.971618,-0.348144,0.540659,-0.868066,0.717895,1,0.94

In [65]:
liste_column_monovalue=['Type_of_Food_Allergy_Other','Type_of_Food_Allergy_Cereals_&_Seeds']

merged_df_pytorch = pd.DataFrame()
for i,df in enumerate(pred_pytorch_meta):
    if i==0:
        merged_df_pytorch = df
    else:
        last_two_columns = df.iloc[:, -2:]
        merged_df_pytorch = pd.concat([merged_df_pytorch, last_two_columns], axis=1)
        
added_list = ['pred_label ' + s + '_meta_model_pycaret_binary_values' for s in liste_column_monovalue]
zeros_data = pd.DataFrame(0, index=np.arange(len(merged_df_pytorch)), columns= added_list)
merged_df_pytorch = pd.concat([merged_df_pytorch, zeros_data], axis=1)
merged_df_pytorch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2989 entries, 0 to 2988
Data columns (total 73 columns):
 #   Column                                                                                      Non-Null Count  Dtype
---  ------                                                                                      --------------  -----
 0   index                                                                                       2989 non-null   int32
 1   Value_1                                                                                     2989 non-null   float32
 2   Value_2                                                                                     2989 non-null   float32
 3   Value_3                                                                                     2989 non-null   float32
 4   Value_4                                                                                     2989 non-null   float32
 5   Value_5                                                                                     2989 non-null   float32
 6   Value_6                                                                                     2989 non-null   float32
 7   Value_7                                                                                     2989 non-null   float32
 8   Value_8                                                                                     2989 non-null   float32
 9   Value_9                                                                                     2989 non-null   float32
 10  Value_10                                                                                    2989 non-null   float32
 11  Value_11                                                                                    2989 non-null   float32
 12  Value_12                                                                                    2989 non-null   float32
 13  Value_13                                                                                    2989 non-null   float32
 14  Value_14                                                                                    2989 non-null   float32
 15  Value_15                                                                                    2989 non-null   float32
 16  Value_16                                                                                    2989 non-null   float32
 17  pred_label Allergy_Present_meta_model_pycaret_binary_values                                 2989 non-null   int64
 18  pred_score Allergy_Present_meta_model_pycaret_binary_values                                 2989 non-null   float64
 19  pred_label Severe_Allergy_meta_model_pycaret_binary_values                                  2989 non-null   int64
 20  pred_score Severe_Allergy_meta_model_pycaret_binary_values                                  2989 non-null   float64
 21  pred_label Respiratory_Allergy_meta_model_pycaret_binary_values                             2989 non-null   int64
 22  pred_score Respiratory_Allergy_meta_model_pycaret_binary_values                             2989 non-null   float64
 23  pred_label Food_Allergy_meta_model_pycaret_binary_values                                    2989 non-null   int64
 24  pred_score Food_Allergy_meta_model_pycaret_binary_values                                    2989 non-null   float64
 25  pred_label Venom_Allergy_meta_model_pycaret_binary_values                                   2989 non-null   int64
 26  pred_score Venom_Allergy_meta_model_pycaret_binary_values                                   2989 non-null   float64
 27  pred_label Type_of_Respiratory_Allergy_ARIA_meta_model_pycaret_binary_values                2989 non-null   int64
 28  pred_score Type_of_Respiratory_Allergy_ARIA_meta_model_pycaret_binary_values                2989 non-null   float64
 29  pred_label Type_of_Respiratory_Allergy_CONJ_meta_model_pycaret_binary_values                2989 non-null   int64
 30  pred_score Type_of_Respiratory_Allergy_CONJ_meta_model_pycaret_binary_values                2989 non-null   float64
 31  pred_label Type_of_Respiratory_Allergy_GINA_meta_model_pycaret_binary_values                2989 non-null   int64
 32  pred_score Type_of_Respiratory_Allergy_GINA_meta_model_pycaret_binary_values                2989 non-null   float64
 33  pred_label Type_of_Respiratory_Allergy_IGE_Pollen_Gram_meta_model_pycaret_binary_values     2989 non-null   int64
 34  pred_score Type_of_Respiratory_Allergy_IGE_Pollen_Gram_meta_model_pycaret_binary_values     2989 non-null   float64
 35  pred_label Type_of_Respiratory_Allergy_IGE_Pollen_Herb_meta_model_pycaret_binary_values     2989 non-null   int64
 36  pred_score Type_of_Respiratory_Allergy_IGE_Pollen_Herb_meta_model_pycaret_binary_values     2989 non-null   float64
 37  pred_label Type_of_Respiratory_Allergy_IGE_Pollen_Tree_meta_model_pycaret_binary_values     2989 non-null   int64
 38  pred_score Type_of_Respiratory_Allergy_IGE_Pollen_Tree_meta_model_pycaret_binary_values     2989 non-null   float64
 39  pred_label Type_of_Respiratory_Allergy_IGE_Dander_Animals_meta_model_pycaret_binary_values  2989 non-null   int64
 40  pred_score Type_of_Respiratory_Allergy_IGE_Dander_Animals_meta_model_pycaret_binary_values  2989 non-null   float64
 41  pred_label Type_of_Respiratory_Allergy_IGE_Mite_Cockroach_meta_model_pycaret_binary_values  2989 non-null   int64
 42  pred_score Type_of_Respiratory_Allergy_IGE_Mite_Cockroach_meta_model_pycaret_binary_values  2989 non-null   float64
 43  pred_label Type_of_Respiratory_Allergy_IGE_Molds_Yeast_meta_model_pycaret_binary_values     2989 non-null   int64
 44  pred_score Type_of_Respiratory_Allergy_IGE_Molds_Yeast_meta_model_pycaret_binary_values     2989 non-null   float64
 45  pred_label Type_of_Food_Allergy_Aromatics_meta_model_pycaret_binary_values                  2989 non-null   int64
 46  pred_score Type_of_Food_Allergy_Aromatics_meta_model_pycaret_binary_values                  2989 non-null   float64
 47  pred_label Type_of_Food_Allergy_Egg_meta_model_pycaret_binary_values                        2989 non-null   int64
 48  pred_score Type_of_Food_Allergy_Egg_meta_model_pycaret_binary_values                        2989 non-null   float64
 49  pred_label Type_of_Food_Allergy_Fish_meta_model_pycaret_binary_values                       2989 non-null   int64
 50  pred_score Type_of_Food_Allergy_Fish_meta_model_pycaret_binary_values                       2989 non-null   float64
 51  pred_label Type_of_Food_Allergy_Fruits_and_Vegetables_meta_model_pycaret_binary_values      2989 non-null   int64
 52  pred_score Type_of_Food_Allergy_Fruits_and_Vegetables_meta_model_pycaret_binary_values      2989 non-null   float64
 53  pred_label Type_of_Food_Allergy_Mammalian_Milk_meta_model_pycaret_binary_values             2989 non-null   int64
 54  pred_score Type_of_Food_Allergy_Mammalian_Milk_meta_model_pycaret_binary_values             2989 non-null   float64
 55  pred_label Type_of_Food_Allergy_Oral_Syndrom_meta_model_pycaret_binary_values               2989 non-null   int64
 56  pred_score Type_of_Food_Allergy_Oral_Syndrom_meta_model_pycaret_binary_values               2989 non-null   float64
 57  pred_label Type_of_Food_Allergy_Other_Legumes_meta_model_pycaret_binary_values              2989 non-null   int64
 58  pred_score Type_of_Food_Allergy_Other_Legumes_meta_model_pycaret_binary_values              2989 non-null   float64
 59  pred_label Type_of_Food_Allergy_Peanut_meta_model_pycaret_binary_values                     2989 non-null   int64
 60  pred_score Type_of_Food_Allergy_Peanut_meta_model_pycaret_binary_values                     2989 non-null   float64
 61  pred_label Type_of_Food_Allergy_Shellfish_meta_model_pycaret_binary_values                  2989 non-null   int64
 62  pred_score Type_of_Food_Allergy_Shellfish_meta_model_pycaret_binary_values                  2989 non-null   float64
 63  pred_label Type_of_Food_Allergy_TPO_meta_model_pycaret_binary_values                        2989 non-null   int64
 64  pred_score Type_of_Food_Allergy_TPO_meta_model_pycaret_binary_values                        2989 non-null   float64
 65  pred_label Type_of_Food_Allergy_Tree_Nuts_meta_model_pycaret_binary_values                  2989 non-null   int64
 66  pred_score Type_of_Food_Allergy_Tree_Nuts_meta_model_pycaret_binary_values                  2989 non-null   float64
 67  pred_label Type_of_Venom_Allergy_ATCD_Venom_meta_model_pycaret_binary_values                2989 non-null   int64
 68  pred_score Type_of_Venom_Allergy_ATCD_Venom_meta_model_pycaret_binary_values                2989 non-null   float64
 69  pred_label Type_of_Venom_Allergy_IGE_Venom_meta_model_pycaret_binary_values                 2989 non-null   int64
 70  pred_score Type_of_Venom_Allergy_IGE_Venom_meta_model_pycaret_binary_values                 2989 non-null   float64
 71  pred_label Type_of_Food_Allergy_Other_meta_model_pycaret_binary_values                      2989 non-null   int64
 72  pred_label Type_of_Food_Allergy_Cereals_&_Seeds_meta_model_pycaret_binary_values            2989 non-null   int64
dtypes: float32(16), float64(27), int32(1), int64(29)
memory usage: 1.5 MB

In [80]:
df_predictions_final= pd.DataFrame()

for target in Targets:
    if target not in list_of_Target_predict_with_pytorch_meta:
        column_target= merged_df[f'pred_label {target}_ETC_brutforce_imb_binary_values']
        df_predictions_final = pd.concat([df_predictions_final, column_target], axis=1)
        
    else:
        column_target= merged_df_pytorch[f'pred_label {target}_meta_model_pycaret_binary_values']
        df_predictions_final = pd.concat([df_predictions_final, column_target], axis=1) 
df_predictions_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2989 entries, 0 to 2988
Data columns (total 29 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   pred_label Allergy_Present_ETC_brutforce_imb_binary_values                                 2989 non-null   int64
 1   pred_label Severe_Allergy_ETC_brutforce_imb_binary_values                                  2989 non-null   int64
 2   pred_label Respiratory_Allergy_ETC_brutforce_imb_binary_values                             2989 non-null   int64
 3   pred_label Food_Allergy_ETC_brutforce_imb_binary_values                                    2989 non-null   int64
 4   pred_label Venom_Allergy_meta_model_pycaret_binary_values                                  2989 non-null   int64
 5   pred_label Type_of_Respiratory_Allergy_ARIA_ETC_brutforce_imb_binary_values                2989 non-null   int64
 6   pred_label Type_of_Respiratory_Allergy_CONJ_meta_model_pycaret_binary_values               2989 non-null   int64
 7   pred_label Type_of_Respiratory_Allergy_GINA_ETC_brutforce_imb_binary_values                2989 non-null   int64
 8   pred_label Type_of_Respiratory_Allergy_IGE_Pollen_Gram_ETC_brutforce_imb_binary_values     2989 non-null   int64
 9   pred_label Type_of_Respiratory_Allergy_IGE_Pollen_Herb_ETC_brutforce_imb_binary_values     2989 non-null   int64
 10  pred_label Type_of_Respiratory_Allergy_IGE_Pollen_Tree_ETC_brutforce_imb_binary_values     2989 non-null   int64
 11  pred_label Type_of_Respiratory_Allergy_IGE_Dander_Animals_ETC_brutforce_imb_binary_values  2989 non-null   int64
 12  pred_label Type_of_Respiratory_Allergy_IGE_Mite_Cockroach_ETC_brutforce_imb_binary_values  2989 non-null   int64
 13  pred_label Type_of_Respiratory_Allergy_IGE_Molds_Yeast_ETC_brutforce_imb_binary_values     2989 non-null   int64
 14  pred_label Type_of_Food_Allergy_Aromatics_meta_model_pycaret_binary_values                 2989 non-null   int64
 15  pred_label Type_of_Food_Allergy_Other_ETC_brutforce_imb_binary_values                      2989 non-null   int64
 16  pred_label Type_of_Food_Allergy_Cereals_&_Seeds_ETC_brutforce_imb_binary_values            2989 non-null   int64
 17  pred_label Type_of_Food_Allergy_Egg_meta_model_pycaret_binary_values                       2989 non-null   int64
 18  pred_label Type_of_Food_Allergy_Fish_ETC_brutforce_imb_binary_values                       2989 non-null   int64
 19  pred_label Type_of_Food_Allergy_Fruits_and_Vegetables_meta_model_pycaret_binary_values     2989 non-null   int64
 20  pred_label Type_of_Food_Allergy_Mammalian_Milk_meta_model_pycaret_binary_values            2989 non-null   int64
 21  pred_label Type_of_Food_Allergy_Oral_Syndrom_ETC_brutforce_imb_binary_values               2989 non-null   int64
 22  pred_label Type_of_Food_Allergy_Other_Legumes_meta_model_pycaret_binary_values             2989 non-null   int64
 23  pred_label Type_of_Food_Allergy_Peanut_meta_model_pycaret_binary_values                    2989 non-null   int64
 24  pred_label Type_of_Food_Allergy_Shellfish_meta_model_pycaret_binary_values                 2989 non-null   int64
 25  pred_label Type_of_Food_Allergy_TPO_meta_model_pycaret_binary_values                       2989 non-null   int64
 26  pred_label Type_of_Food_Allergy_Tree_Nuts_meta_model_pycaret_binary_values                 2989 non-null   int64
 27  pred_label Type_of_Venom_Allergy_ATCD_Venom_meta_model_pycaret_binary_values               2989 non-null   int64
 28  pred_label Type_of_Venom_Allergy_IGE_Venom_meta_model_pycaret_binary_values                2989 non-null   int64
dtypes: int64(29)
memory usage: 700.5+ KB

#### homogenize columns names for evaluation

In [81]:
for target in Targets:
    liste_string_to_check = [f' {target}_m',f' {target}_E']
    for elem in liste_string_to_check:
        for column in df_predictions_final.columns:
            if elem in column:
                new_column_name = column.replace(column, f'pred_label_{target}_values')
                df_predictions_final = df_predictions_final.rename(columns={column: new_column_name})
df_predictions_final.info()
df_predictions_final.head()

<class 'pandas.core.frame.DataFrame'>
Index: 2989 entries, 0 to 2988
Data columns (total 29 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   pred_label_Allergy_Present_values                                 2989 non-null   int64
 1   pred_label_Severe_Allergy_values                                  2989 non-null   int64
 2   pred_label_Respiratory_Allergy_values                             2989 non-null   int64
 3   pred_label_Food_Allergy_values                                    2989 non-null   int64
 4   pred_label_Venom_Allergy_values                                   2989 non-null   int64
 5   pred_label_Type_of_Respiratory_Allergy_ARIA_values                2989 non-null   int64
 6   pred_label_Type_of_Respiratory_Allergy_CONJ_values                2989 non-null   int64
 7   pred_label_Type_of_Respiratory_Allergy_GINA_values                2989 non-null   int64
 8   pred_label_Type_of_Respiratory_Allergy_IGE_Pollen_Gram_values     2989 non-null   int64
 9   pred_label_Type_of_Respiratory_Allergy_IGE_Pollen_Herb_values     2989 non-null   int64
 10  pred_label_Type_of_Respiratory_Allergy_IGE_Pollen_Tree_values     2989 non-null   int64
 11  pred_label_Type_of_Respiratory_Allergy_IGE_Dander_Animals_values  2989 non-null   int64
 12  pred_label_Type_of_Respiratory_Allergy_IGE_Mite_Cockroach_values  2989 non-null   int64
 13  pred_label_Type_of_Respiratory_Allergy_IGE_Molds_Yeast_values     2989 non-null   int64
 14  pred_label_Type_of_Food_Allergy_Aromatics_values                  2989 non-null   int64
 15  pred_label_Type_of_Food_Allergy_Other_values                      2989 non-null   int64
 16  pred_label_Type_of_Food_Allergy_Cereals_&_Seeds_values            2989 non-null   int64
 17  pred_label_Type_of_Food_Allergy_Egg_values                        2989 non-null   int64
 18  pred_label_Type_of_Food_Allergy_Fish_values                       2989 non-null   int64
 19  pred_label_Type_of_Food_Allergy_Fruits_and_Vegetables_values      2989 non-null   int64
 20  pred_label_Type_of_Food_Allergy_Mammalian_Milk_values             2989 non-null   int64
 21  pred_label_Type_of_Food_Allergy_Oral_Syndrom_values               2989 non-null   int64
 22  pred_label_Type_of_Food_Allergy_Other_Legumes_values              2989 non-null   int64
 23  pred_label_Type_of_Food_Allergy_Peanut_values                     2989 non-null   int64
 24  pred_label_Type_of_Food_Allergy_Shellfish_values                  2989 non-null   int64
 25  pred_label_Type_of_Food_Allergy_TPO_values                        2989 non-null   int64
 26  pred_label_Type_of_Food_Allergy_Tree_Nuts_values                  2989 non-null   int64
 27  pred_label_Type_of_Venom_Allergy_ATCD_Venom_values                2989 non-null   int64
 28  pred_label_Type_of_Venom_Allergy_IGE_Venom_values                 2989 non-null   int64
dtypes: int64(29)
memory usage: 700.5+ KB

,pred_label_Allergy_Present_values,pred_label_Severe_Allergy_values,pred_label_Respiratory_Allergy_values,pred_label_Food_Allergy_values,pred_label_Venom_Allergy_values,pred_label_Type_of_Respiratory_Allergy_ARIA_values,pred_label_Type_of_Respiratory_Allergy_CONJ_values,pred_label_Type_of_Respiratory_Allergy_GINA_values,pred_label_Type_of_Respiratory_Allergy_IGE_Pollen_Gram_values,pred_label_Type_of_Respiratory_Allergy_IGE_Pollen_Herb_values,...,pred_label_Type_of_Food_Allergy_Fruits_and_Vegetables_values,pred_label_Type_of_Food_Allergy_Mammalian_Milk_values,pred_label_Type_of_Food_Allergy_Oral_Syndrom_values,pred_label_Type_of_Food_Allergy_Other_Legumes_values,pred_label_Type_of_Food_Allergy_Peanut_values,pred_label_Type_of_Food_Allergy_Shellfish_values,pred_label_Type_of_Food_Allergy_TPO_values,pred_label_Type_of_Food_Allergy_Tree_Nuts_values,pred_label_Type_of_Venom_Allergy_ATCD_Venom_values,pred_label_Type_of_Venom_Allergy_IGE_Venom_values
0,1,1,1,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,0,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,1,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0

#### Evaluation binary for each methods

In [82]:
data_true= pd.read_csv('data/train.csv', low_memory=False)
data_true.head()

,Patient_ID,Chip_Code,Chip_Type,Chip_Image_Name,Age,Gender,Blood_Month_sample,French_Residence_Department,French_Region,Rural_or_urban_area,...,Type_of_Food_Allergy_Fruits_and_Vegetables,Type_of_Food_Allergy_Mammalian_Milk,Type_of_Food_Allergy_Oral_Syndrom,Type_of_Food_Allergy_Other_Legumes,Type_of_Food_Allergy_Peanut,Type_of_Food_Allergy_Shellfish,Type_of_Food_Allergy_TPO,Type_of_Food_Allergy_Tree_Nuts,Type_of_Venom_Allergy_ATCD_Venom,Type_of_Venom_Allergy_IGE_Venom
0,PCR0232,02AHX0C9,ALEX,02AHX0C9.bmp,15.0,0.0,7.0,deptGGG,regionF,1,...,0,0,0,0,0,0,0,0,0,0
1,QVW0271,AD53727_2,ISAC_V1,NaN,72.0,1.0,5.0,deptY,regionD,9,...,9,9,9,9,9,9,9,9,0,0
2,QVW0489,AM91127_4,ISAC_V1,NaN,67.0,1.0,6.0,deptY,regionD,9,...,0,0,1,0,0,0,0,0,0,0
3,TXV0075,881309006950,ISAC_V1,AC10727_4_881309006950_2013_10_28_21_20_5.bmp,13.0,1.0,9.0,deptEE,regionC,1,...,0,0,0,0,0,0,0,0,0,0
4,QVW0946,CSB5927_4,ISAC_V1,NaN,28.0,1.0,12.0,deptY,regionD,9,...,9,9,9,9,9,9,9,9,0,0

In [83]:
target_columns = ['Type_of_Food_Allergy_Other_Legumes','Type_of_Food_Allergy_Cereals_&_Seeds', 'Allergy_Present', 'Type_of_Food_Allergy_Mammalian_Milk', 'Type_of_Food_Allergy_Other',
                  'Type_of_Respiratory_Allergy_IGE_Mite_Cockroach', 'Venom_Allergy', 'Type_of_Respiratory_Allergy_ARIA', 'Type_of_Respiratory_Allergy_IGE_Pollen_Gram',
                  'Type_of_Respiratory_Allergy_IGE_Pollen_Herb', 'Food_Allergy', 'Type_of_Food_Allergy_Oral_Syndrom','Type_of_Food_Allergy_Tree_Nuts', 'Severe_Allergy',
                  'Type_of_Food_Allergy_Aromatics', 'Type_of_Venom_Allergy_IGE_Venom', 'Type_of_Venom_Allergy_ATCD_Venom', 'Type_of_Respiratory_Allergy_CONJ', 'Type_of_Food_Allergy_Peanut',
                  'Type_of_Food_Allergy_Egg', 'Type_of_Food_Allergy_Fish', 'Type_of_Respiratory_Allergy_GINA', 'Respiratory_Allergy', 'Type_of_Food_Allergy_TPO',
                  'Type_of_Respiratory_Allergy_IGE_Pollen_Tree', 'Type_of_Food_Allergy_Fruits_and_Vegetables', 'Type_of_Respiratory_Allergy_IGE_Molds_Yeast',
                  'Type_of_Respiratory_Allergy_IGE_Dander_Animals', 'Type_of_Food_Allergy_Shellfish']
f1_scores=[]
below_threshold_columns=[]
threshold =0.89
for column in target_columns:
    # Get the predicted and true labels for the column
    
    rows_with_9 = data_true[column].isin([9])
    Targets_without_9 = data_true[column][~rows_with_9]
    merged_df_removal = df_predictions_final[~rows_with_9]
        
    merged_df_mod = pd.concat([merged_df_removal, Targets_without_9] , axis=1).reset_index(drop=True)
    y_true = merged_df_mod[column]
    y_pred = merged_df_mod[f'pred_label_{column}_values']
    
    # Calculate accuracy
    accuracy = accuracy_score(y_true, y_pred)
    
    # Calculate recall
    recall = recall_score(y_true, y_pred)
    
    # Calculate F1 score
    if (data_true[column] == 1).any():
        f1 = f1_score(y_true, y_pred,average='macro')
    else:
        f1 = f1_score(y_true, y_pred, pos_label=0)
    cm = confusion_matrix(y_true, y_pred)

    # Display the metrics and confusion matrix
    print(f"Metrics for {column}:")
    print(f"Accuracy: {accuracy}")
    print(f"Recall: {recall}")
    print(f"F1 Score: {f1}")
    print("Confusion Matrix:")
    print(cm)
    print()
    if f1 != 0:
        f1_scores.append(f1) # Append the F1 score to the list
    if f1 < threshold:
        below_threshold_columns.append(column)

mean_f1 = sum(f1_scores) / len(f1_scores)  # Calculate the mean of F1 scores

print(f"Mean F1 Score: {mean_f1}")
print(below_threshold_columns)

Metrics for Type_of_Food_Allergy_Other_Legumes:
Accuracy: 0.9931549471064095
Recall: 1.0
F1 Score: 0.9486779722035925
Confusion Matrix:
[[1546   11]
 [   0   50]]

Metrics for Type_of_Food_Allergy_Cereals_&_Seeds:
Accuracy: 1.0
Recall: 0.0
F1 Score: 1.0
Confusion Matrix:
[[1607]]

Metrics for Allergy_Present:
Accuracy: 0.9766913018760659
Recall: 0.9890350877192983
F1 Score: 0.9659484677778423
Confusion Matrix:
[[ 365   26]
 [  15 1353]]

Metrics for Type_of_Food_Allergy_Mammalian_Milk:
Accuracy: 0.9981331673926571
Recall: 1.0
F1 Score: 0.9712235798320332
Confusion Matrix:
[[1579    3]
 [   0   25]]

Metrics for Type_of_Food_Allergy_Other:
Accuracy: 1.0
Recall: 0.0
F1 Score: 1.0
Confusion Matrix:
[[1607]]

Metrics for Type_of_Respiratory_Allergy_IGE_Mite_Cockroach:
Accuracy: 0.9900464499004645
Recall: 0.9882352941176471
F1 Score: 0.9899495141487098
Confusion Matrix:
[[820   7]
 [  8 672]]

Metrics for Venom_Allergy:
Accuracy: 0.9959852793576447
Recall: 1.0
F1 Score: 0.9220599739243807
Confusion Matrix:
[[2944   12]
 [   0   33]]

Metrics for Type_of_Respiratory_Allergy_ARIA:
Accuracy: 0.9635036496350365
Recall: 0.9646910466582598
F1 Score: 0.963405615539313
Confusion Matrix:
[[687  27]
 [ 28 765]]

Metrics for Type_of_Respiratory_Allergy_IGE_Pollen_Gram:
Accuracy: 0.9648307896483079
Recall: 0.967966573816156
F1 Score: 0.9647672448436294
Confusion Matrix:
[[759  30]
 [ 23 695]]

Metrics for Type_of_Respiratory_Allergy_IGE_Pollen_Herb:
Accuracy: 0.9893828798938288
Recall: 0.9855670103092784
F1 Score: 0.9878518196071793
Confusion Matrix:
[[1013    9]
 [   7  478]]

Metrics for Food_Allergy:
Accuracy: 0.9713752333540759
Recall: 0.97054698457223
F1 Score: 0.9710237072344695
Confusion Matrix:
[[869  25]
 [ 21 692]]

Metrics for Type_of_Food_Allergy_Oral_Syndrom:
Accuracy: 0.8344741754822651
Recall: 0.7592592592592593
F1 Score: 0.6429246859128575
Confusion Matrix:
[[1259  240]
 [  26   82]]

Metrics for Type_of_Food_Allergy_Tree_Nuts:
Accuracy: 0.985687616677038
Recall: 0.9930555555555556
F1 Score: 0.9588244796105364
Confusion Matrix:
[[1441   22]
 [   1  143]]

Metrics for Severe_Allergy:
Accuracy: 0.9610778443113772
Recall: 0.9683301343570058
F1 Score: 0.9585422927811648
Confusion Matrix:
[[ 596   32]
 [  33 1009]]

Metrics for Type_of_Food_Allergy_Aromatics:
Accuracy: 0.9962663347853142
Recall: 1.0
F1 Score: 0.9585040454467206
Confusion Matrix:
[[1567    6]
 [   0   34]]

Metrics for Type_of_Venom_Allergy_IGE_Venom:
Accuracy: 0.9986617597858816
Recall: 1.0
F1 Score: 0.9579960652051714
Confusion Matrix:
[[2963    4]
 [   0   22]]

Metrics for Type_of_Venom_Allergy_ATCD_Venom:
Accuracy: 0.9969889595182335
Recall: 1.0
F1 Score: 0.9110054684941296
Confusion Matrix:
[[2959    9]
 [   0   21]]

Metrics for Type_of_Respiratory_Allergy_CONJ:
Accuracy: 0.9688122096881221
Recall: 0.9668367346938775
F1 Score: 0.9601691555438087
Confusion Matrix:
[[1081   34]
 [  13  379]]

Metrics for Type_of_Food_Allergy_Peanut:
Accuracy: 0.9931549471064095
Recall: 1.0
F1 Score: 0.9739296127566002
Confusion Matrix:
[[1488   11]
 [   0  108]]

Metrics for Type_of_Food_Allergy_Egg:
Accuracy: 0.9943995021779714
Recall: 1.0
F1 Score: 0.9501710576634868
Confusion Matrix:
[[1556    9]
 [   0   42]]

Metrics for Type_of_Food_Allergy_Fish:
Accuracy: 0.9775980087118855
Recall: 0.6842105263157895
F1 Score: 0.7896963880649102
Confusion Matrix:
[[1545   24]
 [  12   26]]

Metrics for Type_of_Respiratory_Allergy_GINA:
Accuracy: 0.9124087591240876
Recall: 0.9470198675496688
F1 Score: 0.912291933418694
Confusion Matrix:
[[660  92]
 [ 40 715]]

Metrics for Respiratory_Allergy:
Accuracy: 0.9263437292634373
Recall: 0.9429559204840103
F1 Score: 0.898819478930327
Confusion Matrix:
[[ 305   45]
 [  66 1091]]

Metrics for Type_of_Food_Allergy_TPO:
Accuracy: 0.9894212818917237
Recall: 1.0
F1 Score: 0.9246058358102272
Confusion Matrix:
[[1540   17]
 [   0   50]]

Metrics for Type_of_Respiratory_Allergy_IGE_Pollen_Tree:
Accuracy: 0.9814200398142005
Recall: 0.9772727272727273
F1 Score: 0.9813328378545769
Confusion Matrix:
[[791  12]
 [ 16 688]]

Metrics for Type_of_Food_Allergy_Fruits_and_Vegetables:
Accuracy: 0.9950217797137524
Recall: 1.0
F1 Score: 0.9788699985536402
Confusion Matrix:
[[1502    8]
 [   0   97]]

Metrics for Type_of_Respiratory_Allergy_IGE_Molds_Yeast:
Accuracy: 0.9973457199734572
Recall: 0.9970674486803519
F1 Score: 0.9962176542931004
Confusion Matrix:
[[1163    3]
 [   1  340]]

Metrics for Type_of_Respiratory_Allergy_IGE_Dander_Animals:
Accuracy: 0.986728599867286
Recall: 0.9848714069591528
F1 Score: 0.9865255379949428
Confusion Matrix:
[[836  10]
 [ 10 651]]

Metrics for Type_of_Food_Allergy_Shellfish:
Accuracy: 0.9981331673926571
Recall: 1.0
F1 Score: 0.9814486306772924
Confusion Matrix:
[[1564    3]
 [   0   40]]

Mean F1 Score: 0.9450614846249425
['Type_of_Food_Allergy_Oral_Syndrom', 'Type_of_Food_Allergy_Fish']

## Generate prediction for the test set

In [84]:
original_validation_data = pd.read_csv('data/test.csv')

data_test = original_validation_data.set_index('trustii_id')

In [85]:
encode_data_test = preprocessing_data_test(data_test)
missing_cols = set(encode_data.columns) ^ set(encode_data_test.columns)
print(missing_cols)
len(missing_cols)
encode_data_test = encode_data_test.reindex(columns=encode_data.columns, fill_value=0).astype('float16')
encode_data_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 586 entries, 1 to 1282
Columns: 443 entries, Gender to Treatment_of_rhinitis_9
dtypes: float16(443)
memory usage: 527.8 KB
None
{'Treatment_of_athsma_8', 'Treatment_of_atopic_dematitis_7', 'French_Residence_Department_deptJJJ', 'French_Residence_Department_deptOOO', 'French_Residence_Department_deptIII', 'French_Residence_Department_deptTTT', 'French_Residence_Department_deptRRR', 'French_Residence_Department_deptU', 'Age', 'French_Residence_Department_deptCCCC', 'French_Region_regionO', 'French_Residence_Department_deptHHH', 'French_Residence_Department_deptNNN', 'French_Residence_Department_deptDD', 'French_Residence_Department_deptQQQ', 'French_Residence_Department_deptPPP', 'French_Residence_Department_deptK', 'French_Residence_Department_deptUU', 'French_Residence_Department_deptW', 'General_cofactors_11', 'French_Residence_Department_deptMMM', 'French_Residence_Department_deptDDD', 'French_Residence_Department_deptAAAA', 'French_Region_regionN', 'Treatment_of_athsma_10', 'French_Residence_Department_deptZZZ', 'French_Residence_Department_deptT', 'French_Residence_Department_deptP'}
<class 'pandas.core.frame.DataFrame'>
Int64Index: 586 entries, 1 to 1282
Columns: 467 entries, Age to Treatment_of_rhinitis_9
dtypes: float16(467)
memory usage: 555.2 KB

In [91]:
pred_pycaret= obtain_pred(encode_data_test.reset_index(), folder_path_pycaret)

liste_column_monovalue=['Type_of_Food_Allergy_Other','Type_of_Food_Allergy_Cereals_&_Seeds']

merged_df = pd.DataFrame()
for i,df in enumerate(pred_pycaret):
    if i==0:
        merged_df = df
    else:
        last_two_columns = df.iloc[:, -2:]
        merged_df = pd.concat([merged_df, last_two_columns], axis=1)
        
added_list = ['pred_label ' + s + '_ETC_brutforce_imb_binary_values' for s in liste_column_monovalue]
zeros_data = pd.DataFrame(0, index=np.arange(len(merged_df)), columns= added_list)
merged_df = pd.concat([merged_df, zeros_data], axis=1)
merged_df.info()

Calling model: Type_of_Food_Allergy_Aromatics_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_CONJ_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Peanut_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_IGE_Pollen_Tree_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Venom_Allergy_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Food_Allergy_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Fruits_and_Vegetables_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Shellfish_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_IGE_Dander_Animals_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_ARIA_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_IGE_Molds_Yeast_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Egg_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Venom_Allergy_IGE_Venom_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_IGE_Pollen_Gram_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Allergy_Present_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Other_Legumes_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Mammalian_Milk_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Severe_Allergy_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Respiratory_Allergy_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Oral_Syndrom_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_TPO_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_GINA_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Tree_Nuts_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Food_Allergy_Fish_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Venom_Allergy_ATCD_Venom_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_IGE_Mite_Cockroach_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
Calling model: Type_of_Respiratory_Allergy_IGE_Pollen_Herb_ETC_brutforce_imb_binary.pkl
Transformation Pipeline and Model Successfully Loaded
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Columns: 525 entries, index to pred_label Type_of_Food_Allergy_Cereals_&_Seeds_ETC_brutforce_imb_binary_values
dtypes: float32(467), float64(27), int32(2), int64(29)
memory usage: 1.3 MB

In [92]:
merged_df.head()

,index,trustii_id,Age,Gender,Blood_Month_sample,Rural_or_urban_area,Sensitization,Skin_Symptoms,Act_d_1,Act_d_2,...,pred_label Type_of_Food_Allergy_Fish_ETC_brutforce_imb_binary_values,pred_score Type_of_Food_Allergy_Fish_ETC_brutforce_imb_binary_values,pred_label Type_of_Venom_Allergy_ATCD_Venom_ETC_brutforce_imb_binary_values,pred_score Type_of_Venom_Allergy_ATCD_Venom_ETC_brutforce_imb_binary_values,pred_label Type_of_Respiratory_Allergy_IGE_Mite_Cockroach_ETC_brutforce_imb_binary_values,pred_score Type_of_Respiratory_Allergy_IGE_Mite_Cockroach_ETC_brutforce_imb_binary_values,pred_label Type_of_Respiratory_Allergy_IGE_Pollen_Herb_ETC_brutforce_imb_binary_values,pred_score Type_of_Respiratory_Allergy_IGE_Pollen_Herb_ETC_brutforce_imb_binary_values,pred_label Type_of_Food_Allergy_Other_ETC_brutforce_imb_binary_values,pred_label Type_of_Food_Allergy_Cereals_&_Seeds_ETC_brutforce_imb_binary_values
0,0,1,0.0,1.0,6.0,9.0,1.0,0.0,0.0,0.000000,...,0,0.5733,0,0.6803,1,0.9995,0,0.9820,0,0
1,1,4,0.0,1.0,7.0,9.0,1.0,1.0,0.0,0.109985,...,0,0.5295,0,0.5489,1,0.9950,0,0.9933,0,0
2,2,5,0.0,0.0,10.0,1.0,1.0,1.0,0.0,0.000000,...,0,0.5427,0,0.6187,0,0.9095,1,0.9884,0,0
3,3,7,0.0,1.0,8.0,0.0,1.0,0.0,0.0,0.000000,...,0,0.6487,0,0.5608,0,0.9567,0,0.9948,0,0
4,4,8,0.0,0.0,4.0,1.0,0.0,9.0,0.0,0.000000,...,0,0.5544,0,0.5868,0,0.9998,0,0.9986,0,0

In [94]:
num_rows = len(encode_data_test)  # Specify the number of rows
data_array = np.random.choice([0, 1], size=(num_rows, 29))

# Create a DataFrame using the numpy array
Targets_test = pd.DataFrame(data_array, columns=['Allergy_Present', 'Severe_Allergy', 'Respiratory_Allergy', 'Food_Allergy', 'Venom_Allergy',
                     'Type_of_Respiratory_Allergy_ARIA', 'Type_of_Respiratory_Allergy_CONJ', 
                     'Type_of_Respiratory_Allergy_GINA', 'Type_of_Respiratory_Allergy_IGE_Pollen_Gram',
                     'Type_of_Respiratory_Allergy_IGE_Pollen_Herb', 'Type_of_Respiratory_Allergy_IGE_Pollen_Tree',
                     'Type_of_Respiratory_Allergy_IGE_Dander_Animals', 'Type_of_Respiratory_Allergy_IGE_Mite_Cockroach',
                     'Type_of_Respiratory_Allergy_IGE_Molds_Yeast', 'Type_of_Food_Allergy_Aromatics', 'Type_of_Food_Allergy_Other',
                     'Type_of_Food_Allergy_Cereals_&_Seeds', 'Type_of_Food_Allergy_Egg', 'Type_of_Food_Allergy_Fish',
                     'Type_of_Food_Allergy_Fruits_and_Vegetables', 'Type_of_Food_Allergy_Mammalian_Milk', 
                     'Type_of_Food_Allergy_Oral_Syndrom', 'Type_of_Food_Allergy_Other_Legumes', 'Type_of_Food_Allergy_Peanut',
                     'Type_of_Food_Allergy_Shellfish', 'Type_of_Food_Allergy_TPO', 'Type_of_Food_Allergy_Tree_Nuts',
                     'Type_of_Venom_Allergy_ATCD_Venom', 'Type_of_Venom_Allergy_IGE_Venom'])

Targets_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 29 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Allergy_Present                                 586 non-null    int64
 1   Severe_Allergy                                  586 non-null    int64
 2   Respiratory_Allergy                             586 non-null    int64
 3   Food_Allergy                                    586 non-null    int64
 4   Venom_Allergy                                   586 non-null    int64
 5   Type_of_Respiratory_Allergy_ARIA                586 non-null    int64
 6   Type_of_Respiratory_Allergy_CONJ                586 non-null    int64
 7   Type_of_Respiratory_Allergy_GINA                586 non-null    int64
 8   Type_of_Respiratory_Allergy_IGE_Pollen_Gram     586 non-null    int64
 9   Type_of_Respiratory_Allergy_IGE_Pollen_Herb     586 non-null    int64
 10  Type_of_Respiratory_Allergy_IGE_Pollen_Tree     586 non-null    int64
 11  Type_of_Respiratory_Allergy_IGE_Dander_Animals  586 non-null    int64
 12  Type_of_Respiratory_Allergy_IGE_Mite_Cockroach  586 non-null    int64
 13  Type_of_Respiratory_Allergy_IGE_Molds_Yeast     586 non-null    int64
 14  Type_of_Food_Allergy_Aromatics                  586 non-null    int64
 15  Type_of_Food_Allergy_Other                      586 non-null    int64
 16  Type_of_Food_Allergy_Cereals_&_Seeds            586 non-null    int64
 17  Type_of_Food_Allergy_Egg                        586 non-null    int64
 18  Type_of_Food_Allergy_Fish                       586 non-null    int64
 19  Type_of_Food_Allergy_Fruits_and_Vegetables      586 non-null    int64
 20  Type_of_Food_Allergy_Mammalian_Milk             586 non-null    int64
 21  Type_of_Food_Allergy_Oral_Syndrom               586 non-null    int64
 22  Type_of_Food_Allergy_Other_Legumes              586 non-null    int64
 23  Type_of_Food_Allergy_Peanut                     586 non-null    int64
 24  Type_of_Food_Allergy_Shellfish                  586 non-null    int64
 25  Type_of_Food_Allergy_TPO                        586 non-null    int64
 26  Type_of_Food_Allergy_Tree_Nuts                  586 non-null    int64
 27  Type_of_Venom_Allergy_ATCD_Venom                586 non-null    int64
 28  Type_of_Venom_Allergy_IGE_Venom                 586 non-null    int64
dtypes: int64(29)
memory usage: 132.9 KB

In [96]:
pred_pytorch_meta=get_predictions_fold_imblearn_meta_classifier(encode_data_test.reset_index(drop=True),Targets_test, folder_path_fold,folder_path_meta)

Allergy_Present
Transformation Pipeline and Model Successfully Loaded
done
Severe_Allergy
Transformation Pipeline and Model Successfully Loaded
done
Respiratory_Allergy
Transformation Pipeline and Model Successfully Loaded
done
Food_Allergy
Transformation Pipeline and Model Successfully Loaded
done
Venom_Allergy
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_ARIA
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_CONJ
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_GINA
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_IGE_Pollen_Gram
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_IGE_Pollen_Herb
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_IGE_Pollen_Tree
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_IGE_Dander_Animals
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_IGE_Mite_Cockroach
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Respiratory_Allergy_IGE_Molds_Yeast
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Aromatics
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Other
Type_of_Food_Allergy_Cereals_&_Seeds
Type_of_Food_Allergy_Egg
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Fish
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Fruits_and_Vegetables
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Mammalian_Milk
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Oral_Syndrom
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Other_Legumes
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Peanut
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Shellfish
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_TPO
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Food_Allergy_Tree_Nuts
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Venom_Allergy_ATCD_Venom
Transformation Pipeline and Model Successfully Loaded
done
Type_of_Venom_Allergy_IGE_Venom
Transformation Pipeline and Model Successfully Loaded
done

In [97]:
merged_df_pytorch = pd.DataFrame()
for i,df in enumerate(pred_pytorch_meta):
    if i==0:
        merged_df_pytorch = df
    else:
        last_two_columns = df.iloc[:, -2:]
        merged_df_pytorch = pd.concat([merged_df_pytorch, last_two_columns], axis=1)
        
added_list = ['pred_label ' + s + '_meta_model_pycaret_binary_values' for s in liste_column_monovalue]
zeros_data = pd.DataFrame(0, index=np.arange(len(merged_df_pytorch)), columns= added_list)
merged_df_pytorch = pd.concat([merged_df_pytorch, zeros_data], axis=1)
merged_df_pytorch.info()

df_predictions_final= pd.DataFrame()

for target in Targets:
    if target not in list_of_Target_predict_with_pytorch_meta:
        column_target= merged_df[f'pred_label {target}_ETC_brutforce_imb_binary_values']
        df_predictions_final = pd.concat([df_predictions_final, column_target], axis=1)
        
    else:
        column_target= merged_df_pytorch[f'pred_label {target}_meta_model_pycaret_binary_values']
        df_predictions_final = pd.concat([df_predictions_final, column_target], axis=1) 
df_predictions_final.info()


for target in Targets:
    liste_string_to_check = [f' {target}_m',f' {target}_E']
    for elem in liste_string_to_check:
        for column in df_predictions_final.columns:
            if elem in column:
                new_column_name = column.replace(column, f'pred_label_{target}_values')
                df_predictions_final = df_predictions_final.rename(columns={column: new_column_name})
df_predictions_final.info()
df_predictions_final.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 73 columns):
 #   Column                                                                                      Non-Null Count  Dtype
---  ------                                                                                      --------------  -----
 0   index                                                                                       586 non-null    int32
 1   Value_1                                                                                     586 non-null    float32
 2   Value_2                                                                                     586 non-null    float32
 3   Value_3                                                                                     586 non-null    float32
 4   Value_4                                                                                     586 non-null    float32
 5   Value_5                                                                                     586 non-null    float32
 6   Value_6                                                                                     586 non-null    float32
 7   Value_7                                                                                     586 non-null    float32
 8   Value_8                                                                                     586 non-null    float32
 9   Value_9                                                                                     586 non-null    float32
 10  Value_10                                                                                    586 non-null    float32
 11  Value_11                                                                                    586 non-null    float32
 12  Value_12                                                                                    586 non-null    float32
 13  Value_13                                                                                    586 non-null    float32
 14  Value_14                                                                                    586 non-null    float32
 15  Value_15                                                                                    586 non-null    float32
 16  Value_16                                                                                    586 non-null    float32
 17  pred_label Allergy_Present_meta_model_pycaret_binary_values                                 586 non-null    int64
 18  pred_score Allergy_Present_meta_model_pycaret_binary_values                                 586 non-null    float64
 19  pred_label Severe_Allergy_meta_model_pycaret_binary_values                                  586 non-null    int64
 20  pred_score Severe_Allergy_meta_model_pycaret_binary_values                                  586 non-null    float64
 21  pred_label Respiratory_Allergy_meta_model_pycaret_binary_values                             586 non-null    int64
 22  pred_score Respiratory_Allergy_meta_model_pycaret_binary_values                             586 non-null    float64
 23  pred_label Food_Allergy_meta_model_pycaret_binary_values                                    586 non-null    int64
 24  pred_score Food_Allergy_meta_model_pycaret_binary_values                                    586 non-null    float64
 25  pred_label Venom_Allergy_meta_model_pycaret_binary_values                                   586 non-null    int64
 26  pred_score Venom_Allergy_meta_model_pycaret_binary_values                                   586 non-null    float64
 27  pred_label Type_of_Respiratory_Allergy_ARIA_meta_model_pycaret_binary_values                586 non-null    int64
 28  pred_score Type_of_Respiratory_Allergy_ARIA_meta_model_pycaret_binary_values                586 non-null    float64
 29  pred_label Type_of_Respiratory_Allergy_CONJ_meta_model_pycaret_binary_values                586 non-null    int64
 30  pred_score Type_of_Respiratory_Allergy_CONJ_meta_model_pycaret_binary_values                586 non-null    float64
 31  pred_label Type_of_Respiratory_Allergy_GINA_meta_model_pycaret_binary_values                586 non-null    int64
 32  pred_score Type_of_Respiratory_Allergy_GINA_meta_model_pycaret_binary_values                586 non-null    float64
 33  pred_label Type_of_Respiratory_Allergy_IGE_Pollen_Gram_meta_model_pycaret_binary_values     586 non-null    int64
 34  pred_score Type_of_Respiratory_Allergy_IGE_Pollen_Gram_meta_model_pycaret_binary_values     586 non-null    float64
 35  pred_label Type_of_Respiratory_Allergy_IGE_Pollen_Herb_meta_model_pycaret_binary_values     586 non-null    int64
 36  pred_score Type_of_Respiratory_Allergy_IGE_Pollen_Herb_meta_model_pycaret_binary_values     586 non-null    float64
 37  pred_label Type_of_Respiratory_Allergy_IGE_Pollen_Tree_meta_model_pycaret_binary_values     586 non-null    int64
 38  pred_score Type_of_Respiratory_Allergy_IGE_Pollen_Tree_meta_model_pycaret_binary_values     586 non-null    float64
 39  pred_label Type_of_Respiratory_Allergy_IGE_Dander_Animals_meta_model_pycaret_binary_values  586 non-null    int64
 40  pred_score Type_of_Respiratory_Allergy_IGE_Dander_Animals_meta_model_pycaret_binary_values  586 non-null    float64
 41  pred_label Type_of_Respiratory_Allergy_IGE_Mite_Cockroach_meta_model_pycaret_binary_values  586 non-null    int64
 42  pred_score Type_of_Respiratory_Allergy_IGE_Mite_Cockroach_meta_model_pycaret_binary_values  586 non-null    float64
 43  pred_label Type_of_Respiratory_Allergy_IGE_Molds_Yeast_meta_model_pycaret_binary_values     586 non-null    int64
 44  pred_score Type_of_Respiratory_Allergy_IGE_Molds_Yeast_meta_model_pycaret_binary_values     586 non-null    float64
 45  pred_label Type_of_Food_Allergy_Aromatics_meta_model_pycaret_binary_values                  586 non-null    int64
 46  pred_score Type_of_Food_Allergy_Aromatics_meta_model_pycaret_binary_values                  586 non-null    float64
 47  pred_label Type_of_Food_Allergy_Egg_meta_model_pycaret_binary_values                        586 non-null    int64
 48  pred_score Type_of_Food_Allergy_Egg_meta_model_pycaret_binary_values                        586 non-null    float64
 49  pred_label Type_of_Food_Allergy_Fish_meta_model_pycaret_binary_values                       586 non-null    int64
 50  pred_score Type_of_Food_Allergy_Fish_meta_model_pycaret_binary_values                       586 non-null    float64
 51  pred_label Type_of_Food_Allergy_Fruits_and_Vegetables_meta_model_pycaret_binary_values      586 non-null    int64
 52  pred_score Type_of_Food_Allergy_Fruits_and_Vegetables_meta_model_pycaret_binary_values      586 non-null    float64
 53  pred_label Type_of_Food_Allergy_Mammalian_Milk_meta_model_pycaret_binary_values             586 non-null    int64
 54  pred_score Type_of_Food_Allergy_Mammalian_Milk_meta_model_pycaret_binary_values             586 non-null    float64
 55  pred_label Type_of_Food_Allergy_Oral_Syndrom_meta_model_pycaret_binary_values               586 non-null    int64
 56  pred_score Type_of_Food_Allergy_Oral_Syndrom_meta_model_pycaret_binary_values               586 non-null    float64
 57  pred_label Type_of_Food_Allergy_Other_Legumes_meta_model_pycaret_binary_values              586 non-null    int64
 58  pred_score Type_of_Food_Allergy_Other_Legumes_meta_model_pycaret_binary_values              586 non-null    float64
 59  pred_label Type_of_Food_Allergy_Peanut_meta_model_pycaret_binary_values                     586 non-null    int64
 60  pred_score Type_of_Food_Allergy_Peanut_meta_model_pycaret_binary_values                     586 non-null    float64
 61  pred_label Type_of_Food_Allergy_Shellfish_meta_model_pycaret_binary_values                  586 non-null    int64
 62  pred_score Type_of_Food_Allergy_Shellfish_meta_model_pycaret_binary_values                  586 non-null    float64
 63  pred_label Type_of_Food_Allergy_TPO_meta_model_pycaret_binary_values                        586 non-null    int64
 64  pred_score Type_of_Food_Allergy_TPO_meta_model_pycaret_binary_values                        586 non-null    float64
 65  pred_label Type_of_Food_Allergy_Tree_Nuts_meta_model_pycaret_binary_values                  586 non-null    int64
 66  pred_score Type_of_Food_Allergy_Tree_Nuts_meta_model_pycaret_binary_values                  586 non-null    float64
 67  pred_label Type_of_Venom_Allergy_ATCD_Venom_meta_model_pycaret_binary_values                586 non-null    int64
 68  pred_score Type_of_Venom_Allergy_ATCD_Venom_meta_model_pycaret_binary_values                586 non-null    float64
 69  pred_label Type_of_Venom_Allergy_IGE_Venom_meta_model_pycaret_binary_values                 586 non-null    int64
 70  pred_score Type_of_Venom_Allergy_IGE_Venom_meta_model_pycaret_binary_values                 586 non-null    float64
 71  pred_label Type_of_Food_Allergy_Other_meta_model_pycaret_binary_values                      586 non-null    int64
 72  pred_label Type_of_Food_Allergy_Cereals_&_Seeds_meta_model_pycaret_binary_values            586 non-null    int64
dtypes: float32(16), float64(27), int32(1), int64(29)
memory usage: 295.4 KB
<class 'pandas.core.frame.DataFrame'>
Index: 586 entries, 0 to 585
Data columns (total 29 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   pred_label Allergy_Present_ETC_brutforce_imb_binary_values                                 586 non-null    int64
 1   pred_label Severe_Allergy_ETC_brutforce_imb_binary_values                                  586 non-null    int64
 2   pred_label Respiratory_Allergy_ETC_brutforce_imb_binary_values                             586 non-null    int64
 3   pred_label Food_Allergy_ETC_brutforce_imb_binary_values                                    586 non-null    int64
 4   pred_label Venom_Allergy_meta_model_pycaret_binary_values                                  586 non-null    int64
 5   pred_label Type_of_Respiratory_Allergy_ARIA_ETC_brutforce_imb_binary_values                586 non-null    int64
 6   pred_label Type_of_Respiratory_Allergy_CONJ_meta_model_pycaret_binary_values               586 non-null    int64
 7   pred_label Type_of_Respiratory_Allergy_GINA_ETC_brutforce_imb_binary_values                586 non-null    int64
 8   pred_label Type_of_Respiratory_Allergy_IGE_Pollen_Gram_ETC_brutforce_imb_binary_values     586 non-null    int64
 9   pred_label Type_of_Respiratory_Allergy_IGE_Pollen_Herb_ETC_brutforce_imb_binary_values     586 non-null    int64
 10  pred_label Type_of_Respiratory_Allergy_IGE_Pollen_Tree_ETC_brutforce_imb_binary_values     586 non-null    int64
 11  pred_label Type_of_Respiratory_Allergy_IGE_Dander_Animals_ETC_brutforce_imb_binary_values  586 non-null    int64
 12  pred_label Type_of_Respiratory_Allergy_IGE_Mite_Cockroach_ETC_brutforce_imb_binary_values  586 non-null    int64
 13  pred_label Type_of_Respiratory_Allergy_IGE_Molds_Yeast_ETC_brutforce_imb_binary_values     586 non-null    int64
 14  pred_label Type_of_Food_Allergy_Aromatics_meta_model_pycaret_binary_values                 586 non-null    int64
 15  pred_label Type_of_Food_Allergy_Other_ETC_brutforce_imb_binary_values                      586 non-null    int64
 16  pred_label Type_of_Food_Allergy_Cereals_&_Seeds_ETC_brutforce_imb_binary_values            586 non-null    int64
 17  pred_label Type_of_Food_Allergy_Egg_meta_model_pycaret_binary_values                       586 non-null    int64
 18  pred_label Type_of_Food_Allergy_Fish_ETC_brutforce_imb_binary_values                       586 non-null    int64
 19  pred_label Type_of_Food_Allergy_Fruits_and_Vegetables_meta_model_pycaret_binary_values     586 non-null    int64
 20  pred_label Type_of_Food_Allergy_Mammalian_Milk_meta_model_pycaret_binary_values            586 non-null    int64
 21  pred_label Type_of_Food_Allergy_Oral_Syndrom_ETC_brutforce_imb_binary_values               586 non-null    int64
 22  pred_label Type_of_Food_Allergy_Other_Legumes_meta_model_pycaret_binary_values             586 non-null    int64
 23  pred_label Type_of_Food_Allergy_Peanut_meta_model_pycaret_binary_values                    586 non-null    int64
 24  pred_label Type_of_Food_Allergy_Shellfish_meta_model_pycaret_binary_values                 586 non-null    int64
 25  pred_label Type_of_Food_Allergy_TPO_meta_model_pycaret_binary_values                       586 non-null    int64
 26  pred_label Type_of_Food_Allergy_Tree_Nuts_meta_model_pycaret_binary_values                 586 non-null    int64
 27  pred_label Type_of_Venom_Allergy_ATCD_Venom_meta_model_pycaret_binary_values               586 non-null    int64
 28  pred_label Type_of_Venom_Allergy_IGE_Venom_meta_model_pycaret_binary_values                586 non-null    int64
dtypes: int64(29)
memory usage: 137.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 586 entries, 0 to 585
Data columns (total 29 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   pred_label_Allergy_Present_values                                 586 non-null    int64
 1   pred_label_Severe_Allergy_values                                  586 non-null    int64
 2   pred_label_Respiratory_Allergy_values                             586 non-null    int64
 3   pred_label_Food_Allergy_values                                    586 non-null    int64
 4   pred_label_Venom_Allergy_values                                   586 non-null    int64
 5   pred_label_Type_of_Respiratory_Allergy_ARIA_values                586 non-null    int64
 6   pred_label_Type_of_Respiratory_Allergy_CONJ_values                586 non-null    int64
 7   pred_label_Type_of_Respiratory_Allergy_GINA_values                586 non-null    int64
 8   pred_label_Type_of_Respiratory_Allergy_IGE_Pollen_Gram_values     586 non-null    int64
 9   pred_label_Type_of_Respiratory_Allergy_IGE_Pollen_Herb_values     586 non-null    int64
 10  pred_label_Type_of_Respiratory_Allergy_IGE_Pollen_Tree_values     586 non-null    int64
 11  pred_label_Type_of_Respiratory_Allergy_IGE_Dander_Animals_values  586 non-null    int64
 12  pred_label_Type_of_Respiratory_Allergy_IGE_Mite_Cockroach_values  586 non-null    int64
 13  pred_label_Type_of_Respiratory_Allergy_IGE_Molds_Yeast_values     586 non-null    int64
 14  pred_label_Type_of_Food_Allergy_Aromatics_values                  586 non-null    int64
 15  pred_label_Type_of_Food_Allergy_Other_values                      586 non-null    int64
 16  pred_label_Type_of_Food_Allergy_Cereals_&_Seeds_values            586 non-null    int64
 17  pred_label_Type_of_Food_Allergy_Egg_values                        586 non-null    int64
 18  pred_label_Type_of_Food_Allergy_Fish_values                       586 non-null    int64
 19  pred_label_Type_of_Food_Allergy_Fruits_and_Vegetables_values      586 non-null    int64
 20  pred_label_Type_of_Food_Allergy_Mammalian_Milk_values             586 non-null    int64
 21  pred_label_Type_of_Food_Allergy_Oral_Syndrom_values               586 non-null    int64
 22  pred_label_Type_of_Food_Allergy_Other_Legumes_values              586 non-null    int64
 23  pred_label_Type_of_Food_Allergy_Peanut_values                     586 non-null    int64
 24  pred_label_Type_of_Food_Allergy_Shellfish_values                  586 non-null    int64
 25  pred_label_Type_of_Food_Allergy_TPO_values                        586 non-null    int64
 26  pred_label_Type_of_Food_Allergy_Tree_Nuts_values                  586 non-null    int64
 27  pred_label_Type_of_Venom_Allergy_ATCD_Venom_values                586 non-null    int64
 28  pred_label_Type_of_Venom_Allergy_IGE_Venom_values                 586 non-null    int64
dtypes: int64(29)
memory usage: 137.3+ KB

,pred_label_Allergy_Present_values,pred_label_Severe_Allergy_values,pred_label_Respiratory_Allergy_values,pred_label_Food_Allergy_values,pred_label_Venom_Allergy_values,pred_label_Type_of_Respiratory_Allergy_ARIA_values,pred_label_Type_of_Respiratory_Allergy_CONJ_values,pred_label_Type_of_Respiratory_Allergy_GINA_values,pred_label_Type_of_Respiratory_Allergy_IGE_Pollen_Gram_values,pred_label_Type_of_Respiratory_Allergy_IGE_Pollen_Herb_values,...,pred_label_Type_of_Food_Allergy_Fruits_and_Vegetables_values,pred_label_Type_of_Food_Allergy_Mammalian_Milk_values,pred_label_Type_of_Food_Allergy_Oral_Syndrom_values,pred_label_Type_of_Food_Allergy_Other_Legumes_values,pred_label_Type_of_Food_Allergy_Peanut_values,pred_label_Type_of_Food_Allergy_Shellfish_values,pred_label_Type_of_Food_Allergy_TPO_values,pred_label_Type_of_Food_Allergy_Tree_Nuts_values,pred_label_Type_of_Venom_Allergy_ATCD_Venom_values,pred_label_Type_of_Venom_Allergy_IGE_Venom_values
0,1,0,1,0,0,0,0,1,1,0,...,0,0,0,0,1,0,0,0,0,0
1,1,1,1,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,1,1,1,0,1,0,1,1,1,...,1,1,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [99]:
target_columns = ['Type_of_Food_Allergy_Cereals_&_Seeds', 'Type_of_Food_Allergy_Other_Legumes', 'Allergy_Present', 'Type_of_Food_Allergy_Mammalian_Milk', 'Type_of_Food_Allergy_Other',
                  'Type_of_Respiratory_Allergy_IGE_Mite_Cockroach', 'Venom_Allergy', 'Type_of_Respiratory_Allergy_ARIA', 'Type_of_Respiratory_Allergy_IGE_Pollen_Gram',
                  'Type_of_Respiratory_Allergy_IGE_Pollen_Herb', 'Food_Allergy', 'Type_of_Food_Allergy_Oral_Syndrom','Type_of_Food_Allergy_Tree_Nuts', 'Severe_Allergy',
                  'Type_of_Food_Allergy_Aromatics', 'Type_of_Venom_Allergy_IGE_Venom', 'Type_of_Venom_Allergy_ATCD_Venom', 'Type_of_Respiratory_Allergy_CONJ', 'Type_of_Food_Allergy_Peanut',
                  'Type_of_Food_Allergy_Egg', 'Type_of_Food_Allergy_Fish', 'Type_of_Respiratory_Allergy_GINA', 'Respiratory_Allergy', 'Type_of_Food_Allergy_TPO',
                  'Type_of_Respiratory_Allergy_IGE_Pollen_Tree', 'Type_of_Food_Allergy_Fruits_and_Vegetables', 'Type_of_Respiratory_Allergy_IGE_Molds_Yeast',
                  'Type_of_Respiratory_Allergy_IGE_Dander_Animals', 'Type_of_Food_Allergy_Shellfish']

for elem in target_columns:
    original_validation_data[elem]=  df_predictions_final[f'pred_label_{elem}_values']

In [100]:
original_validation_data.head(30)

,trustii_id,Patient_ID,Chip_Code,Chip_Type,Chip_Image_Name,Age,Gender,Blood_Month_sample,French_Residence_Department,French_Region,...,Type_of_Food_Allergy_Egg,Type_of_Food_Allergy_Fish,Type_of_Respiratory_Allergy_GINA,Respiratory_Allergy,Type_of_Food_Allergy_TPO,Type_of_Respiratory_Allergy_IGE_Pollen_Tree,Type_of_Food_Allergy_Fruits_and_Vegetables,Type_of_Respiratory_Allergy_IGE_Molds_Yeast,Type_of_Respiratory_Allergy_IGE_Dander_Animals,Type_of_Food_Allergy_Shellfish
0,1,PMP0156,22 262C 3858,ISAC_V2,NaN,8.0,1.0,6.0,deptBBB,regionJ,...,0,0,1,1,0,1,0,1,1,0
1,4,PCR0234,02AHX0DC,ALEX,02AHX0DC.bmp,14.0,1.0,7.0,deptL,regionD,...,0,0,1,1,0,0,0,0,1,0
2,5,PCR0532,02AUN372,ALEX,02AUN372.png,32.0,0.0,10.0,deptUUU,regionF,...,0,0,1,1,1,1,1,1,1,0
3,7,GJH0147,EKF3830_4,ISAC_V2,EKF3830_4_2200444337_2023_2_17_11_58_24.bmp,65.0,1.0,8.0,deptQ,regionF,...,1,0,0,0,0,0,0,0,0,0
4,8,TXV0009,881204001164,ISAC_V1,1G20027_2_881204001164_2012_4_25_18_32_58.bmp,5.0,0.0,4.0,deptII,regionC,...,0,0,0,0,0,0,0,0,0,0
5,9,PCR0118,02AFA752,ALEX,NaN,49.0,0.0,1.0,deptXXX,regionI,...,0,0,0,1,0,0,0,0,0,0
6,10,QVW0214,AB02627_3,ISAC_V1,NaN,6.0,1.0,2.0,deptY,regionD,...,0,0,1,1,0,1,0,1,1,0
7,15,TXV0157,881602013302,ISAC_V1,BAF4027_4_881602013302_2016_2_23_16_38_11.bmp,13.0,1.0,2.0,deptRR,regionB,...,0,0,1,1,0,0,0,0,0,0
8,18,WQW0190,223112546,ISAC_V2,END0E30_1_223112546_2023_1_3_16_20_19.bmp,12.0,0.0,11.0,deptOO,regionL,...,1,0,0,0,0,0,0,0,0,0
9,23,TXV0282,881903001372,ISAC_V1,CXG1527_3_881903001372_2019_3_14_3_51_59.bmp,8.0,0.0,3.0,deptEE,regionC,...,0,0,1,1,0,0,0,0,0,0
10,25,GJH0008,DG40Y27_1055_4,ISAC_V1,DG40Y27_1055_4_190048663503_2022_12_22_12_24_4...,13.0,0.0,10.0,deptBB,regionF,...,0,0,1,1,0,0,0,0,0,0
11,26,PCR0282,02AJH21C,ALEX,NaN,62.0,0.0,9.0,deptUUU,regionF,...,0,0,1,1,0,0,0,0,0,0
12,27,PMP0167,19 435C 4302,ISAC_V2,NaN,14.0,1.0,10.0,deptKKK,regionJ,...,0,0,1,1,0,1,0,1,1,1
13,32,PCR0379,02AJV379,ALEX,02AJV379.bmp,42.0,0.0,2.0,deptUUU,regionF,...,0,0,1,1,0,0,0,0,0,0
14,35,GJH0065,E0Z1G30_4,ISAC_V2,E0Z1G30_4_2100041657_2023_2_17_11_56_3.bmp,4.0,1.0,1.0,deptQ,regionF,...,1,0,1,1,0,0,0,0,0,0
15,36,XPW0292,XPW0292,ISAC_V1,NaN,18.0,0.0,3.0,deptV,regionB,...,0,0,1,1,0,1,0,0,1,0
16,37,FHB0085,AM82927_3,ISAC_V1,NaN,6.0,1.0,5.0,deptY,regionB,...,0,0,1,1,0,1,0,0,1,0
17,38,XPW0334,XPW0334,ISAC_V1,NaN,5.0,1.0,5.0,deptB,regionA,...,0,0,0,1,0,0,0,0,0,0
18,41,GJH0135,EJ52930_1,ISAC_V2,EJ52930_1_2200333634_2023_2_17_11_58_15.bmp,37.0,0.0,6.0,deptBB,regionF,...,1,0,0,0,0,0,1,0,0,0
19,43,PMP0147,22 132C 2306,ISAC_V2,NaN,9.0,0.0,3.0,deptLLL,regionJ,...,0,0,1,1,0,0,0,0,0,0
20,45,TXV0283,881903021592,ISAC_V1,CXG1527_4_881903021592_2019_3_14_3_51_59.bmp,11.0,1.0,3.0,deptHH,regionC,...,0,0,1,1,1,1,0,0,0,0
21,50,XPW0128,XPW0128,ISAC_V1,NaN,5.0,1.0,11.0,deptE,regionA,...,0,0,0,0,0,0,0,0,0,0
22,54,XPW0096,XPW0096,ISAC_V1,NaN,23.0,0.0,9.0,deptN,regionA,...,0,0,1,1,0,1,0,1,1,0
23,57,TXV0214,881706006837,ISAC_V1,BRE0927_2_881706006837_2017_7_4_19_50_43.bmp,12.0,1.0,6.0,deptEE,regionC,...,0,0,0,1,0,1,0,0,0,0
24,59,PCR0220,02AHX07B,ALEX,02AHX07B.bmp,11.0,1.0,6.0,deptGGG,regionF,...,0,0,1,1,0,1,0,0,1,0
25,63,HNR0219,02AMI229,ALEX,NaN,15.0,0.0,9.0,deptNN,regionI,...,0,0,0,1,1,0,0,0,0,0
26,64,HNR0199,02AKR2A8,ALEX,NaN,77.0,1.0,6.0,deptNN,regionI,...,0,0,0,0,0,1,0,0,0,0
27,71,QVW0917,CPK3627_4,ISAC_V1,NaN,10.0,1.0,11.0,deptY,regionD,...,0,0,1,1,0,1,0,1,1,0
28,74,GER0048,02ABK566,ALEX,NaN,14.0,0.0,9.0,deptYY,regionM,...,0,0,0,1,0,1,0,1,1,0
29,75,HNR0263,02AVD016,ALEX,NaN,11.0,1.0,1.0,deptDDDDD,regionL,...,0,0,0,0,0,0,0,0,0,0

In [102]:
original_validation_data.to_csv('Submission_mix_pycaret_SMOTE_Pytorch_resampling_KStrat_fold_meta_imblearn.csv', index=False, encoding='UTF-8')

#### Logics is the same than the first submission but an fix_imbalanced_method is set to give models more samples from the minority class and less from the majority class.
#### one notebook for the three best sampling methods previously test to compare the results when the models are tuned